rest/rest-backend/src/main/webapp/WEB-INF/Omniswitch/report.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by <idltowsdl> Tool. Version 4.2.1 -->
<definitions targetNamespace="http://ch.zurich.com/report" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:corba="http://schemas.iona.com/bindings/corba" 
    xmlns:http-conf="http://schemas.iona.com/transports/http/configuration" 
    xmlns:ns1="http://ch.zurich.com/report/corba/typemap/" 
    xmlns:routing="http://schemas.iona.com/routing" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://ch.zurich.com/report" 
    xmlns:wsa="http://www.w3.org/2005/08/addressing" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://ch.zurich.com/report/xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
  
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
  
    xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  
    xmlns:wsaw="http://www.w3.org/2005/08/addressing"
    xmlns:http="http://cxf.apache.org/transports/http/configuration"
    xmlns:sec="http://cxf.apache.org/configuration/security"
    >
    <types>
        <xsd:schema targetNamespace="http://ch.zurich.com/report/xsd" 
            xmlns="http://ch.zurich.com/report/xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="common.Header_T">
                <xsd:sequence>
                    <xsd:element name="traceOn" type="xsd:boolean"/>
                    <xsd:element name="clientId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExValuePair_T">
                <xsd:sequence>
                    <xsd:element name="key" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                    <xsd:element name="ctx" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExValuePairSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExValuePair_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExDescr_T">
                <xsd:sequence>
                    <xsd:element name="domain" type="xsd:string"/>
                    <xsd:element name="exCode" type="xsd:int"/>
                    <xsd:element name="timestamp" type="xsd:string"/>
                    <xsd:element name="extend" type="common.ExValuePairSeq_T"/>
                    <xsd:element name="traceId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Ex_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExDescr_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Remarks_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExDescr_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.RemarksSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.Remarks_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.SeqLimit_T">
                <xsd:sequence>
                    <xsd:element name="returnAll" type="xsd:boolean"/>
                    <xsd:element name="maxToReturn" type="xsd:int"/>
                    <xsd:element name="hasMore" type="xsd:boolean"/>
                    <xsd:element name="totalFound" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Cursor_T">
                <xsd:sequence>
                    <xsd:element name="limSeq" type="common.SeqLimit_T"/>
                    <xsd:element name="sessionKey" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValuePair_T">
                <xsd:sequence>
                    <xsd:element name="key" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                    <xsd:element name="ctx" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValuePairSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ValuePair_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValidityDate_T">
                <xsd:sequence>
                    <xsd:element name="from" type="xsd:string"/>
                    <xsd:element name="until" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.IdTyp_T">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:int"/>
                    <xsd:element name="businessArea" type="xsd:string"/>
                    <xsd:element name="application" type="xsd:string"/>
                    <xsd:element name="branch" type="xsd:string"/>
                    <xsd:element name="legalEntity" type="xsd:string"/>
                    <xsd:element name="externalIdentifier" type="common.ValuePairSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.IdTyp">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:string"/>
                    <xsd:element name="businessArea" type="xsd:string"/>
                    <xsd:element name="application" type="xsd:string"/>
                    <xsd:element name="branch" type="xsd:string"/>
                    <xsd:element name="legalEntity" type="xsd:string"/>
                    <xsd:element name="externalIdentifier" type="common.ValuePairSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_0_0.RelationTypeSeq">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.Detail">
                <xsd:sequence>
                    <xsd:element name="paymentType" type="xsd:string"/>
                    <xsd:element name="language" type="xsd:string"/>
                    <xsd:element name="processStep" type="xsd:string"/>
                    <xsd:element name="promotion" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.RelationParticipation">
                <xsd:sequence>
                    <xsd:element name="endPointId" type="common.IdTyp_T"/>
                    <xsd:element name="percentage" type="xsd:string"/>
                    <xsd:element name="endpointType" type="xsd:int"/>
                    <xsd:element name="order" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.RelationParticipationSeq">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.Relation_1_0.RelationParticipation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.Relation">
                <xsd:sequence>
                    <xsd:element name="identifier" type="common.IdTyp_T"/>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="type" type="xsd:int"/>
                    <xsd:element name="stateDate" type="xsd:string"/>
                    <xsd:element name="createDate" type="xsd:string"/>
                    <xsd:element name="relationDetail" type="common.Relation_1_0.Detail"/>
                    <xsd:element name="relationParticipationList" 
                        type="common.Relation_1_0.RelationParticipationSeq"/>
                    <xsd:element name="validity" type="common.ValidityDate_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="report.Elda_1_0.Legal_T">
                <xsd:sequence>
                    <xsd:element name="judicialAuthority" type="xsd:string"/>
                    <xsd:element name="judgementDate" type="xsd:string"/>
                    <xsd:element name="civilProceeding" type="xsd:string"/>
                    <xsd:element name="complaint" type="xsd:string"/>
                    <xsd:element name="sentence" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="report.Elda_1_0.PhysicalAddress_T">
                <xsd:sequence>
                    <xsd:element name="streetName" type="xsd:string"/>
                    <xsd:element name="streetNumber" type="xsd:string"/>
                    <xsd:element name="postalCode" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="countryCode" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="report.Elda_1_0.PolicyHolder_T">
                <xsd:sequence>
                    <xsd:element name="birthDate" type="xsd:string"/>
                    <xsd:element name="location" type="report.Elda_1_0.PhysicalAddress_T"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="middleName" type="xsd:string"/>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="salutation" type="xsd:string"/>
                    <xsd:element name="nationality" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="report.Elda_1_0.MotorVehicle_T">
                <xsd:sequence>
                    <xsd:element name="chassisNumber" type="xsd:string"/>
                    <xsd:element name="numberPlate" type="xsd:string"/>
                    <xsd:element name="typ" type="xsd:string"/>
                    <xsd:element name="brand" type="xsd:string"/>
                    <xsd:element name="model" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="report.Elda_1_0.VirtualAddress_T">
                <xsd:sequence>
                    <xsd:element name="type" type="xsd:string"/>
                    <xsd:element name="code" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="report.Elda_1_0.Claim_T">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:string"/>
                    <xsd:element name="location" type="report.Elda_1_0.PhysicalAddress_T"/>
                    <xsd:element name="clerk" type="xsd:string"/>
                    <xsd:element name="faxNumber" type="report.Elda_1_0.VirtualAddress_T"/>
                    <xsd:element name="date" type="xsd:string"/>
                    <xsd:element name="declineReason" type="xsd:string"/>
                    <xsd:element name="demandAmount" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="common.Object_1_0.ping">
                <xsd:complexType>
                    <xsd:sequence>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="common.Object_1_0.pingResult">
                <xsd:complexType>
                    <xsd:sequence>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="report.Elda_1_0.journalInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="policeNumber" type="xsd:string"/>
                        <xsd:element name="claim" type="report.Elda_1_0.Claim_T"/>
                        <xsd:element name="policyHolder" 
                            type="report.Elda_1_0.PolicyHolder_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="report.Elda_1_0.journalInfoResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="report.Elda_1_0.vehicleHistoryInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="policeNumber" type="xsd:string"/>
                        <xsd:element name="claim" type="report.Elda_1_0.Claim_T"/>
                        <xsd:element name="policyHolder" 
                            type="report.Elda_1_0.PolicyHolder_T"/>
                        <xsd:element name="motorVehicle" 
                            type="report.Elda_1_0.MotorVehicle_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="report.Elda_1_0.vehicleHistoryInfoResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="report.Elda_1_0.zisInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="policeNumber" type="xsd:string"/>
                        <xsd:element name="claim" type="report.Elda_1_0.Claim_T"/>
                        <xsd:element name="policyHolder" 
                            type="report.Elda_1_0.PolicyHolder_T"/>
                        <xsd:element name="motorVehicle" 
                            type="report.Elda_1_0.MotorVehicle_T"/>
                        <xsd:element name="legal" type="report.Elda_1_0.Legal_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="report.Elda_1_0.zisInfoResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="common.Object_1_0.ping">
        <part element="xsd1:common.Object_1_0.ping" name="parameters"/>
    </message>
    <message name="common.Object_1_0.pingResponse">
        <part element="xsd1:common.Object_1_0.pingResult" name="parameters"/>
    </message>
    <message name="report.Elda_1_0.journalInfo">
        <part element="xsd1:report.Elda_1_0.journalInfo" name="parameters"/>
    </message>
    <message name="report.Elda_1_0.journalInfoResponse">
        <part element="xsd1:report.Elda_1_0.journalInfoResult" name="parameters"/>
    </message>
    <message name="report.Elda_1_0.vehicleHistoryInfo">
        <part element="xsd1:report.Elda_1_0.vehicleHistoryInfo" name="parameters"/>
    </message>
    <message name="report.Elda_1_0.vehicleHistoryInfoResponse">
        <part element="xsd1:report.Elda_1_0.vehicleHistoryInfoResult" name="parameters"/>
    </message>
    <message name="report.Elda_1_0.zisInfo">
        <part element="xsd1:report.Elda_1_0.zisInfo" name="parameters"/>
    </message>
    <message name="report.Elda_1_0.zisInfoResponse">
        <part element="xsd1:report.Elda_1_0.zisInfoResult" name="parameters"/>
    </message>
    <portType name="common.Object_0_0">
  </portType>
    <portType name="common.Object_1_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="common.Idlcom">
  </portType>
    <portType name="common.Relation_0_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="common.Relation_1_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="report.Elda_0_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="report.Elda_1_0">
        <operation name="journalInfo">
            <input message="tns:report.Elda_1_0.journalInfo" name="journalInfo"/>
            <output message="tns:report.Elda_1_0.journalInfoResponse" 
                name="journalInfoResponse"/>
        </operation>
        <operation name="vehicleHistoryInfo">
            <input message="tns:report.Elda_1_0.vehicleHistoryInfo" 
                name="vehicleHistoryInfo"/>
            <output message="tns:report.Elda_1_0.vehicleHistoryInfoResponse" 
                name="vehicleHistoryInfoResponse"/>
        </operation>
        <operation name="zisInfo">
            <input message="tns:report.Elda_1_0.zisInfo" name="zisInfo"/>
            <output message="tns:report.Elda_1_0.zisInfoResponse" name="zisInfoResponse"/>
        </operation>
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <binding name="report.Elda_1_0CORBABinding" type="tns:report.Elda_1_0">
        <corba:binding repositoryID="IDL:report/Elda_1_0:1.0"/>
        <operation name="journalInfo">
            <corba:operation name="journalInfo">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:string" mode="in" name="name"/>
                <corba:param idltype="corba:string" mode="in" name="policeNumber"/>
                <corba:param idltype="ns1:report.Elda_1_0.Claim_T" mode="in" name="claim"/>
                <corba:param idltype="ns1:report.Elda_1_0.PolicyHolder_T" mode="in" 
                    name="policyHolder"/>
                <corba:return idltype="ns1:common.Ex_T" name="ex"/>
            </corba:operation>
            <input name="journalInfo"/>
            <output name="journalInfoResponse"/>
        </operation>
        <operation name="vehicleHistoryInfo">
            <corba:operation name="vehicleHistoryInfo">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:string" mode="in" name="name"/>
                <corba:param idltype="corba:string" mode="in" name="policeNumber"/>
                <corba:param idltype="ns1:report.Elda_1_0.Claim_T" mode="in" name="claim"/>
                <corba:param idltype="ns1:report.Elda_1_0.PolicyHolder_T" mode="in" 
                    name="policyHolder"/>
                <corba:param idltype="ns1:report.Elda_1_0.MotorVehicle_T" mode="in" 
                    name="motorVehicle"/>
                <corba:return idltype="ns1:common.Ex_T" name="ex"/>
            </corba:operation>
            <input name="vehicleHistoryInfo"/>
            <output name="vehicleHistoryInfoResponse"/>
        </operation>
        <operation name="zisInfo">
            <corba:operation name="zisInfo">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:string" mode="in" name="name"/>
                <corba:param idltype="corba:string" mode="in" name="policeNumber"/>
                <corba:param idltype="ns1:report.Elda_1_0.Claim_T" mode="in" name="claim"/>
                <corba:param idltype="ns1:report.Elda_1_0.PolicyHolder_T" mode="in" 
                    name="policyHolder"/>
                <corba:param idltype="ns1:report.Elda_1_0.MotorVehicle_T" mode="in" 
                    name="motorVehicle"/>
                <corba:param idltype="ns1:report.Elda_1_0.Legal_T" mode="in" name="legal"/>
                <corba:return idltype="ns1:common.Ex_T" name="ex"/>
            </corba:operation>
            <input name="zisInfo"/>
            <output name="zisInfoResponse"/>
        </operation>
        <operation name="ping">
            <corba:operation name="ping"/>
            <input name="ping"/>
            <output name="pingResponse"/>
        </operation>
    </binding>
    <binding name="report.Elda_1_0SOAPBinding" type="tns:report.Elda_1_0">
    <!-- Built client code Change Start -->
    <wsp:PolicyReference URI="#BindingTransportBSTPolicy" />
    <!-- Built client code Change End -->
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="journalInfo">
            <soap:operation soapAction="" style="document"/>
            <input name="journalInfo">
                <soap:body use="literal"/>
            </input>
            <output name="journalInfoResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="vehicleHistoryInfo">
            <soap:operation soapAction="" style="document"/>
            <input name="vehicleHistoryInfo">
                <soap:body use="literal"/>
            </input>
            <output name="vehicleHistoryInfoResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="zisInfo">
            <soap:operation soapAction="" style="document"/>
            <input name="zisInfo">
                <soap:body use="literal"/>
            </input>
            <output name="zisInfoResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <input name="ping">
                <soap:body use="literal"/>
            </input>
            <output name="pingResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
      <!-- Built client code Change Start -->
    <wsp:Policy wsu:Id="BindingTransportBSTPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <!-- 
                <wsam:Addressing wsp:Optional="false">
                    <wsp:Policy />
                </wsam:Addressing>
                -->
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"><wsp:Policy/></sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:TripleDesRsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SupportingTokens>
                    <wsp:Policy>
                        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <sp:RequestSecurityTokenTemplate>
                                <t:TokenType>http://schemas.iona.com/security/IONASSOToken</t:TokenType>
                                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</t:KeyType>
                            </sp:RequestSecurityTokenTemplate>
                            <wsp:Policy>
                                <sp:RequireInternalReference/>
                            </wsp:Policy>
                            <sp:Issuer>
                                <wsaw:Address>http://to-be-ignored/
                                </wsaw:Address>
                            </sp:Issuer>
                        </sp:IssuedToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:Trust13>
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust13>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <!-- Built client code Change End -->
    <service name="report.Elda_1_0CORBAService">
        <port binding="tns:report.Elda_1_0CORBABinding" name="report.Elda_1_0CORBAPort">
            <corba:address location="corbaname:rir:/NameService#corba/report/Elda_1_0"/>
        </port>
    </service>
    <service name="report.Elda_1_0SOAPService">
        <port binding="tns:report.Elda_1_0SOAPBinding" name="report.Elda_1_0SOAPPort">
            <soap:address location="https://localhost:0/report/Elda_1_0"/>
        </port>
    </service>
    <corba:typeMapping targetNamespace="http://ch.zurich.com/report/corba/typemap/">
        <corba:struct name="report.Elda_1_0.Claim_T" 
            repositoryID="IDL:report/Elda_1_0/Claim_T:1.0" 
            type="xsd1:report.Elda_1_0.Claim_T">
            <corba:member idltype="corba:string" name="identifier"/>
            <corba:member idltype="ns1:report.Elda_1_0.PhysicalAddress_T" name="location"/>
            <corba:member idltype="corba:string" name="clerk"/>
            <corba:member idltype="ns1:report.Elda_1_0.VirtualAddress_T" name="faxNumber"/>
            <corba:member idltype="corba:string" name="date"/>
            <corba:member idltype="corba:string" name="declineReason"/>
            <corba:member idltype="corba:double" name="demandAmount"/>
        </corba:struct>
        <corba:struct name="common.Object_1_0.pingResultType" 
            repositoryID="IDL:common/Object_1_0/pingResultType:1.0" 
            type="xsd1:common.Object_1_0.pingResult"/>
        <corba:struct name="report.Elda_1_0.PhysicalAddress_T" 
            repositoryID="IDL:report/Elda_1_0/PhysicalAddress_T:1.0" 
            type="xsd1:report.Elda_1_0.PhysicalAddress_T">
            <corba:member idltype="corba:string" name="streetName"/>
            <corba:member idltype="corba:string" name="streetNumber"/>
            <corba:member idltype="corba:string" name="postalCode"/>
            <corba:member idltype="corba:string" name="city"/>
            <corba:member idltype="corba:string" name="countryCode"/>
        </corba:struct>
        <corba:struct name="common.ExValuePair_T" 
            repositoryID="IDL:common/ExValuePair_T:1.0" type="xsd1:common.ExValuePair_T">
            <corba:member idltype="corba:string" name="key"/>
            <corba:member idltype="corba:string" name="value"/>
            <corba:member idltype="corba:long" name="ctx"/>
        </corba:struct>
        <corba:struct name="report.Elda_1_0.zisInfoType" 
            repositoryID="IDL:report/Elda_1_0/zisInfoType:1.0" 
            type="xsd1:report.Elda_1_0.zisInfo">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:string" name="name"/>
            <corba:member idltype="corba:string" name="policeNumber"/>
            <corba:member idltype="ns1:report.Elda_1_0.Claim_T" name="claim"/>
            <corba:member idltype="ns1:report.Elda_1_0.PolicyHolder_T" 
                name="policyHolder"/>
            <corba:member idltype="ns1:report.Elda_1_0.MotorVehicle_T" 
                name="motorVehicle"/>
            <corba:member idltype="ns1:report.Elda_1_0.Legal_T" name="legal"/>
        </corba:struct>
        <corba:struct name="report.Elda_1_0.journalInfoResultType" 
            repositoryID="IDL:report/Elda_1_0/journalInfoResultType:1.0" 
            type="xsd1:report.Elda_1_0.journalInfoResult">
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.ExDescr_T" name="common.Remarks_T" 
            repositoryID="IDL:common/Remarks_T:1.0" type="xsd1:common.Remarks_T"/>
        <corba:struct name="report.Elda_1_0.vehicleHistoryInfoType" 
            repositoryID="IDL:report/Elda_1_0/vehicleHistoryInfoType:1.0" 
            type="xsd1:report.Elda_1_0.vehicleHistoryInfo">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:string" name="name"/>
            <corba:member idltype="corba:string" name="policeNumber"/>
            <corba:member idltype="ns1:report.Elda_1_0.Claim_T" name="claim"/>
            <corba:member idltype="ns1:report.Elda_1_0.PolicyHolder_T" 
                name="policyHolder"/>
            <corba:member idltype="ns1:report.Elda_1_0.MotorVehicle_T" 
                name="motorVehicle"/>
        </corba:struct>
        <corba:struct name="report.Elda_1_0.MotorVehicle_T" 
            repositoryID="IDL:report/Elda_1_0/MotorVehicle_T:1.0" 
            type="xsd1:report.Elda_1_0.MotorVehicle_T">
            <corba:member idltype="corba:string" name="chassisNumber"/>
            <corba:member idltype="corba:string" name="numberPlate"/>
            <corba:member idltype="corba:string" name="typ"/>
            <corba:member idltype="corba:string" name="brand"/>
            <corba:member idltype="corba:string" name="model"/>
        </corba:struct>
        <corba:sequence bound="0" 
            elemtype="ns1:common.Relation_1_0.RelationParticipation" 
            name="common.Relation_1_0.RelationParticipationSeq" 
            repositoryID="IDL:common/Relation_1_0/RelationParticipationSeq:1.0" 
            type="xsd1:common.Relation_1_0.RelationParticipationSeq"/>
        <corba:struct name="common.Object_1_0.pingType" 
            repositoryID="IDL:common/Object_1_0/pingType:1.0" 
            type="xsd1:common.Object_1_0.ping"/>
        <corba:struct name="common.Cursor_T" repositoryID="IDL:common/Cursor_T:1.0" 
            type="xsd1:common.Cursor_T">
            <corba:member idltype="ns1:common.SeqLimit_T" name="limSeq"/>
            <corba:member idltype="ns1:base64BinarySeq" name="sessionKey"/>
        </corba:struct>
        <corba:struct name="report.Elda_1_0.journalInfoType" 
            repositoryID="IDL:report/Elda_1_0/journalInfoType:1.0" 
            type="xsd1:report.Elda_1_0.journalInfo">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:string" name="name"/>
            <corba:member idltype="corba:string" name="policeNumber"/>
            <corba:member idltype="ns1:report.Elda_1_0.Claim_T" name="claim"/>
            <corba:member idltype="ns1:report.Elda_1_0.PolicyHolder_T" 
                name="policyHolder"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.ExDescr_T" name="common.Ex_T" 
            repositoryID="IDL:common/Ex_T:1.0" type="xsd1:common.Ex_T"/>
        <corba:struct name="common.ValuePair_T" repositoryID="IDL:common/ValuePair_T:1.0" 
            type="xsd1:common.ValuePair_T">
            <corba:member idltype="corba:string" name="key"/>
            <corba:member idltype="corba:string" name="value"/>
            <corba:member idltype="corba:string" name="ctx"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="corba:long" 
            name="common.Relation_0_0.RelationTypeSeq" 
            repositoryID="IDL:common/Relation_0_0/RelationTypeSeq:1.0" 
            type="xsd1:common.Relation_0_0.RelationTypeSeq"/>
        <corba:sequence bound="0" elemtype="ns1:common.ValuePair_T" 
            name="common.ValuePairSeq_T" repositoryID="IDL:common/ValuePairSeq_T:1.0" 
            type="xsd1:common.ValuePairSeq_T"/>
        <corba:struct name="report.Elda_1_0.VirtualAddress_T" 
            repositoryID="IDL:report/Elda_1_0/VirtualAddress_T:1.0" 
            type="xsd1:report.Elda_1_0.VirtualAddress_T">
            <corba:member idltype="corba:string" name="type"/>
            <corba:member idltype="corba:string" name="code"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="corba:octet" name="base64BinarySeq" 
            repositoryID="IDL:base64BinarySeq:1.0" type="xsd:base64Binary"/>
        <corba:struct name="common.IdTyp" repositoryID="IDL:common/IdTyp:1.0" 
            type="xsd1:common.IdTyp">
            <corba:member idltype="corba:string" name="identifier"/>
            <corba:member idltype="corba:string" name="businessArea"/>
            <corba:member idltype="corba:string" name="application"/>
            <corba:member idltype="corba:string" name="branch"/>
            <corba:member idltype="corba:string" name="legalEntity"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="externalIdentifier"/>
        </corba:struct>
        <corba:struct name="common.IdTyp_T" repositoryID="IDL:common/IdTyp_T:1.0" 
            type="xsd1:common.IdTyp_T">
            <corba:member idltype="corba:long" name="identifier"/>
            <corba:member idltype="corba:string" name="businessArea"/>
            <corba:member idltype="corba:string" name="application"/>
            <corba:member idltype="corba:string" name="branch"/>
            <corba:member idltype="corba:string" name="legalEntity"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="externalIdentifier"/>
        </corba:struct>
        <corba:struct name="common.Relation_1_0.RelationParticipation" 
            repositoryID="IDL:common/Relation_1_0/RelationParticipation:1.0" 
            type="xsd1:common.Relation_1_0.RelationParticipation">
            <corba:member idltype="ns1:common.IdTyp_T" name="endPointId"/>
            <corba:member idltype="corba:string" name="percentage"/>
            <corba:member idltype="corba:long" name="endpointType"/>
            <corba:member idltype="corba:string" name="order"/>
            <corba:member idltype="corba:string" name="description"/>
        </corba:struct>
        <corba:struct name="report.Elda_1_0.Legal_T" 
            repositoryID="IDL:report/Elda_1_0/Legal_T:1.0" 
            type="xsd1:report.Elda_1_0.Legal_T">
            <corba:member idltype="corba:string" name="judicialAuthority"/>
            <corba:member idltype="corba:string" name="judgementDate"/>
            <corba:member idltype="corba:string" name="civilProceeding"/>
            <corba:member idltype="corba:string" name="complaint"/>
            <corba:member idltype="corba:string" name="sentence"/>
        </corba:struct>
        <corba:struct name="report.Elda_1_0.zisInfoResultType" 
            repositoryID="IDL:report/Elda_1_0/zisInfoResultType:1.0" 
            type="xsd1:report.Elda_1_0.zisInfoResult">
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="common.ExDescr_T" repositoryID="IDL:common/ExDescr_T:1.0" 
            type="xsd1:common.ExDescr_T">
            <corba:member idltype="corba:string" name="domain"/>
            <corba:member idltype="corba:long" name="exCode"/>
            <corba:member idltype="corba:string" name="timestamp"/>
            <corba:member idltype="ns1:common.ExValuePairSeq_T" name="extend"/>
            <corba:member idltype="corba:string" name="traceId"/>
        </corba:struct>
        <corba:struct name="common.ValidityDate_T" 
            repositoryID="IDL:common/ValidityDate_T:1.0" 
            type="xsd1:common.ValidityDate_T">
            <corba:member idltype="corba:string" name="from"/>
            <corba:member idltype="corba:string" name="until"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.ExValuePair_T" 
            name="common.ExValuePairSeq_T" repositoryID="IDL:common/ExValuePairSeq_T:1.0" 
            type="xsd1:common.ExValuePairSeq_T"/>
        <corba:struct name="common.Header_T" repositoryID="IDL:common/Header_T:1.0" 
            type="xsd1:common.Header_T">
            <corba:member idltype="corba:boolean" name="traceOn"/>
            <corba:member idltype="corba:string" name="clientId"/>
        </corba:struct>
        <corba:struct name="report.Elda_1_0.vehicleHistoryInfoResultType" 
            repositoryID="IDL:report/Elda_1_0/vehicleHistoryInfoResultType:1.0" 
            type="xsd1:report.Elda_1_0.vehicleHistoryInfoResult">
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="common.Relation_1_0.Relation" 
            repositoryID="IDL:common/Relation_1_0/Relation:1.0" 
            type="xsd1:common.Relation_1_0.Relation">
            <corba:member idltype="ns1:common.IdTyp_T" name="identifier"/>
            <corba:member idltype="corba:string" name="state"/>
            <corba:member idltype="corba:long" name="type"/>
            <corba:member idltype="corba:string" name="stateDate"/>
            <corba:member idltype="corba:string" name="createDate"/>
            <corba:member idltype="ns1:common.Relation_1_0.Detail" name="relationDetail"/>
            <corba:member idltype="ns1:common.Relation_1_0.RelationParticipationSeq" 
                name="relationParticipationList"/>
            <corba:member idltype="ns1:common.ValidityDate_T" name="validity"/>
        </corba:struct>
        <corba:struct name="common.Relation_1_0.Detail" 
            repositoryID="IDL:common/Relation_1_0/Detail:1.0" 
            type="xsd1:common.Relation_1_0.Detail">
            <corba:member idltype="corba:string" name="paymentType"/>
            <corba:member idltype="corba:string" name="language"/>
            <corba:member idltype="corba:string" name="processStep"/>
            <corba:member idltype="corba:boolean" name="promotion"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.Remarks_T" 
            name="common.RemarksSeq_T" repositoryID="IDL:common/RemarksSeq_T:1.0" 
            type="xsd1:common.RemarksSeq_T"/>
        <corba:struct name="report.Elda_1_0.PolicyHolder_T" 
            repositoryID="IDL:report/Elda_1_0/PolicyHolder_T:1.0" 
            type="xsd1:report.Elda_1_0.PolicyHolder_T">
            <corba:member idltype="corba:string" name="birthDate"/>
            <corba:member idltype="ns1:report.Elda_1_0.PhysicalAddress_T" name="location"/>
            <corba:member idltype="corba:string" name="firstName"/>
            <corba:member idltype="corba:string" name="middleName"/>
            <corba:member idltype="corba:string" name="lastName"/>
            <corba:member idltype="corba:string" name="salutation"/>
            <corba:member idltype="corba:string" name="nationality"/>
        </corba:struct>
        <corba:struct name="common.SeqLimit_T" repositoryID="IDL:common/SeqLimit_T:1.0" 
            type="xsd1:common.SeqLimit_T">
            <corba:member idltype="corba:boolean" name="returnAll"/>
            <corba:member idltype="corba:long" name="maxToReturn"/>
            <corba:member idltype="corba:boolean" name="hasMore"/>
            <corba:member idltype="corba:long" name="totalFound"/>
        </corba:struct>
    </corba:typeMapping>
    <routing:route name="Route_Elda_1_0">
        <routing:source port="report.Elda_1_0SOAPPort" 
            service="tns:report.Elda_1_0SOAPService"/>
        <routing:destination port="report.Elda_1_0CORBAPort" 
            service="tns:report.Elda_1_0CORBAService"/>
    </routing:route>
</definitions>
