rest/rest-backend/src/main/resources/schemas/InvoiceReminderResponse_400.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==========================================================================
   Date of Generation: 01.04.2004

   This is the schema definition for a "Invoice Reminder Response" process encoded
   in XML. The InvoiceReminderResponse is generated as a preliminary or final response
   always related to an initally sent InvoiceReminderRequest process. Therefore, for
   each request there is an unbounded number of preliminary responses and possibly
   one final response, all encoded in XML. The final response ultimately ends
   the document cycle for that particular invoice.

   This is normative for the electronic invoice project XMLInvoice.

   Permission to use, and distribute this schema and its accompanying
   documentation for any purpose and without fee is hereby granted in perpetuity,
   provided that the above copyright notice and this paragraph appear in all copies.
   The copyright holders make no representation about the suitability of the schema
   for any purpose.

   It is provided "as is" without expressed or implied warranty.

   Copyright (c) 2004 Forum Datenaustausch, All Rights Reserved.
   ========================================================================== -->
<schema targetNamespace="http://www.xmlData.ch/xmlInvoice/XSD" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:invoice="http://www.xmlData.ch/xmlInvoice/XSD" xmlns="http://www.w3.org/2001/XMLSchema">
	<!-- generic element for non-empty text -->
	<simpleType name="nonEmptyTextType">
		<restriction base="string">
			<minLength value="1"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 3 Zeichen
	-->
	<simpleType name="stringType1_3">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 9 Zeichen
	-->
	<simpleType name="stringType1_9">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 25 Zeichen
	-->
	<simpleType name="stringType1_25">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="25"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 35 Zeichen
	-->
	<simpleType name="stringType1_35">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="35"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 50 Zeichen
	-->
	<simpleType name="stringType1_50">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 70 Zeichen
	-->
	<simpleType name="stringType1_70">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="70"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 350 Zeichen
	-->
	<simpleType name="stringType1_350">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="350"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 0 bis 350 Zeichen
	-->
	<simpleType name="stringType0_350">
		<restriction base="string">
			<maxLength value="350"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 700 Zeichen
	-->
	<simpleType name="stringType1_700">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="700"/>
		</restriction>
	</simpleType>
	<!-- 
	EAN-Nr 
	-->
	<simpleType name="eanPartyType">
		<restriction base="string">
			<pattern value="(20[0-9]{11}|76[0-9]{11})"/>
		</restriction>
	</simpleType>
	<simpleType name="xtendEanPartyType">
		<restriction base="string">
			<pattern value="(20[0-9]{11}|76[0-9]{11}|unknown)"/>
		</restriction>
	</simpleType>
	<!-- 
	Adressen 
	-->
	<complexType name="zipType">
		<simpleContent>
			<extension base="invoice:stringType1_9">
				<attribute name="statecode" type="invoice:stringType1_9"/>
				<attribute name="countrycode" type="invoice:stringType1_3" default="CH"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="postalAddressType">
		<sequence>
			<sequence>
				<element name="pobox" type="invoice:stringType1_35" minOccurs="0"/>
				<element name="street" type="invoice:stringType1_35" minOccurs="0"/>
			</sequence>
			<element name="zip" type="invoice:zipType"/>
			<element name="city" type="invoice:stringType1_35"/>
		</sequence>
	</complexType>
	<complexType name="telecomAddressType">
		<sequence>
			<element name="phone" type="invoice:stringType1_25" maxOccurs="3"/>
			<element name="fax" type="invoice:stringType1_25" minOccurs="0" maxOccurs="3"/>
		</sequence>
	</complexType>
	<complexType name="onlineAddressType">
		<sequence>
			<element name="email" maxOccurs="3">
				<simpleType>
					<restriction base="invoice:stringType1_70">
						<pattern value=".+@.+"/>
					</restriction>
				</simpleType>
			</element>
			<element name="url" minOccurs="0" maxOccurs="3">
				<simpleType>
					<restriction base="anyURI">
						<minLength value="1"/>
						<maxLength value="100"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="replyCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<element name="postal" type="invoice:postalAddressType"/>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="replyContactType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="replyAddressType">
		<sequence minOccurs="0">
			<element name="company" type="invoice:replyCompanyType"/>
			<element name="contact" type="invoice:replyContactType" minOccurs="0"/>
		</sequence>
		<attribute name="ean_party" type="invoice:xtendEanPartyType" use="required"/>
	</complexType>
	<!-- 
	Beginn Element reminder 
	-->
	<complexType name="reminderType">
		<sequence>
			<element name="biller">
				<complexType>
					<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
				</complexType>
			</element>
			<element name="insurance">
				<complexType>
					<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
				</complexType>
			</element>
			<element name="reply" type="invoice:replyAddressType"/>
		</sequence>
		<attribute name="invoice_id" type="invoice:stringType1_35" use="required"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
		<attribute name="reminder_timestamp" type="unsignedLong" use="required"/>
		<attribute name="reminder_id" type="invoice:stringType1_35" use="required"/>
		<attribute name="reminder_date" type="dateTime" use="required"/>
		<attribute name="response_timestamp" type="unsignedLong" use="required"/>
		<attribute name="response_id" type="invoice:stringType1_35" use="required"/>
	</complexType>
	<!-- 
	Anforderung Mahnungs- oder Rechnungs-Kopie 
	-->
	<complexType name="notificationType">
		<sequence>
			<element name="explanation" type="invoice:stringType1_700"/>
		</sequence>
		<attribute name="type" type="string" fixed="final"/>
	</complexType>
	<!-- 
	Mahnungs-Rueckweisung 
	-->
	<complexType name="errorType">
		<attribute name="major" use="required">
			<simpleType>
				<restriction base="integer">
					<minInclusive value="1000"/>
					<maxInclusive value="1999"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="minor" use="required">
			<simpleType>
				<restriction base="integer">
					<pattern value="(0|2[0-9]{3})"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="error" use="required">
			<simpleType>
				<restriction base="integer">
					<pattern value="(0|3[0-9]{3})"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="errorBusinessType">
		<simpleContent>
			<extension base="invoice:stringType0_350">
				<attribute name="error_value" type="invoice:stringType1_350"/>
				<attribute name="valid_value" type="invoice:stringType1_350"/>
				<attribute name="record_id" type="positiveInteger"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="errorSchemaType">
		<simpleContent>
			<extension base="invoice:nonEmptyTextType">
				<attribute name="line_number" type="positiveInteger"/>
				<attribute name="line_pos" type="positiveInteger"/>
				<attribute name="err_code" type="integer"/>
				<attribute name="err_text" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="rejectedErrorType">
		<complexContent>
			<extension base="invoice:errorType">
				<choice minOccurs="0">
					<element name="error_business" type="invoice:errorBusinessType"/>
					<element name="error_schema" type="invoice:errorSchemaType"/>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="rejectedType">
		<sequence>
			<element name="explanation" type="invoice:stringType1_700" minOccurs="0"/>
			<element name="error" type="invoice:rejectedErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="type" type="string" fixed="final"/>
	</complexType>
	<!-- 
	Antwortstatus 
	-->
	<complexType name="statusType">
		<choice>
			<element name="rejected" type="invoice:rejectedType"/>
			<element name="invoiceNotFound" type="invoice:notificationType"/>
			<element name="resend" type="invoice:notificationType"/>
		</choice>
	</complexType>
	<!-- 
	Prolog 
	-->
	<simpleType name="versionType">
		<restriction base="integer">
			<minInclusive value="100"/>
		</restriction>
	</simpleType>
	<complexType name="softwareType">
		<simpleContent>
			<extension base="invoice:stringType1_50">
				<attribute name="version" type="invoice:versionType" use="required"/>
				<attribute name="id" default="0">
					<simpleType>
						<restriction base="integer">
							<minInclusive value="0"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="generatorType">
		<sequence>
			<element name="software" type="invoice:softwareType"/>
		</sequence>
	</complexType>
	<complexType name="prologType">
		<sequence>
			<element name="package" type="invoice:softwareType" minOccurs="0"/>
			<element name="generator" type="invoice:generatorType"/>
		</sequence>
	</complexType>
	<!-- 
	Header 
	-->
	<complexType name="headerPartyType">
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
	</complexType>
	<complexType name="headerType">
		<sequence>
			<element name="sender" type="invoice:headerPartyType"/>
			<element name="intermediate" type="invoice:headerPartyType"/>
			<element name="recipient" type="invoice:headerPartyType"/>
		</sequence>
	</complexType>
	<!-- 
	Beginn Mahnungs-Antwort 
	-->
	<element name="response" type="invoice:responseType"/>
	<complexType name="responseType">
		<sequence>
			<element name="header" type="invoice:headerType"/>
			<element name="prolog" type="invoice:prologType"/>
			<element name="status" type="invoice:statusType"/>
			<element name="reminder" type="invoice:reminderType"/>
		</sequence>
		<attribute name="role" default="production">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="production"/>
					<enumeration value="test"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
</schema>
