rs-saml/saml-rest-backend/src/main/webapp/WEB-INF/Omniswitch/ecm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by <idltowsdl> Tool. Version 4.2.1 -->
<definitions targetNamespace="http://ch.zurich.com/ecm" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:corba="http://schemas.iona.com/bindings/corba" 
    xmlns:http-conf="http://schemas.iona.com/transports/http/configuration" 
    xmlns:ns1="http://ch.zurich.com/ecm/corba/typemap/" 
    xmlns:routing="http://schemas.iona.com/routing" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://ch.zurich.com/ecm" xmlns:wsa="http://www.w3.org/2005/08/addressing" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://ch.zurich.com/ecm/xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
  
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
  
    xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  
    xmlns:wsaw="http://www.w3.org/2005/08/addressing"
    xmlns:http="http://cxf.apache.org/transports/http/configuration"
    xmlns:sec="http://cxf.apache.org/configuration/security"
    >
    <types>
        <xsd:schema targetNamespace="http://ch.zurich.com/ecm/xsd" 
            xmlns="http://ch.zurich.com/ecm/xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="common.Header_T">
                <xsd:sequence>
                    <xsd:element name="traceOn" type="xsd:boolean"/>
                    <xsd:element name="clientId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExValuePair_T">
                <xsd:sequence>
                    <xsd:element name="key" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                    <xsd:element name="ctx" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExValuePairSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExValuePair_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExDescr_T">
                <xsd:sequence>
                    <xsd:element name="domain" type="xsd:string"/>
                    <xsd:element name="exCode" type="xsd:int"/>
                    <xsd:element name="timestamp" type="xsd:string"/>
                    <xsd:element name="extend" type="common.ExValuePairSeq_T"/>
                    <xsd:element name="traceId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Ex_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExDescr_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Remarks_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExDescr_T"/>
                </xsd:sequence>
  	    </xsd:complexType>
            <xsd:complexType name="common.RemarksSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.Remarks_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.SeqLimit_T">
                <xsd:sequence>
                    <xsd:element name="returnAll" type="xsd:boolean"/>
                    <xsd:element name="maxToReturn" type="xsd:int"/>
                    <xsd:element name="hasMore" type="xsd:boolean"/>
                    <xsd:element name="totalFound" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Cursor_T">
                <xsd:sequence>
                    <xsd:element name="limSeq" type="common.SeqLimit_T"/>
                    <xsd:element name="sessionKey" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValuePair_T">
                <xsd:sequence>
                    <xsd:element name="key" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                    <xsd:element name="ctx" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValuePairSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ValuePair_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValidityDate_T">
                <xsd:sequence>
                    <xsd:element name="from" type="xsd:string"/>
                    <xsd:element name="until" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.IdTyp_T">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:int"/>
                    <xsd:element name="businessArea" type="xsd:string"/>
                    <xsd:element name="application" type="xsd:string"/>
                    <xsd:element name="branch" type="xsd:string"/>
                    <xsd:element name="legalEntity" type="xsd:string"/>
                    <xsd:element name="externalIdentifier" type="common.ValuePairSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.IdTyp">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:string"/>
                    <xsd:element name="businessArea" type="xsd:string"/>
                    <xsd:element name="application" type="xsd:string"/>
            <xsd:element name="branch" type="xsd:string"/>
                    <xsd:element name="legalEntity" type="xsd:string"/>
                    <xsd:element name="externalIdentifier" type="common.ValuePairSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_0_0.RelationTypeSeq">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.Detail">
                <xsd:sequence>
                    <xsd:element name="paymentType" type="xsd:string"/>
                    <xsd:element name="language" type="xsd:string"/>
                    <xsd:element name="processStep" type="xsd:string"/>
                    <xsd:element name="promotion" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.RelationParticipation">
                <xsd:sequence>
                    <xsd:element name="endPointId" type="common.IdTyp_T"/>
                    <xsd:element name="percentage" type="xsd:string"/>
                    <xsd:element name="endpointType" type="xsd:int"/>
                    <xsd:element name="order" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.RelationParticipationSeq">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.Relation_1_0.RelationParticipation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.Relation">
                <xsd:sequence>
                    <xsd:element name="identifier" type="common.IdTyp_T"/>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="type" type="xsd:int"/>
                    <xsd:element name="stateDate" type="xsd:string"/>
                    <xsd:element name="createDate" type="xsd:string"/>
                    <xsd:element name="relationDetail" type="common.Relation_1_0.Detail"/>
                    <xsd:element name="relationParticipationList" 
                        type="common.Relation_1_0.RelationParticipationSeq"/>
                    <xsd:element name="validity" type="common.ValidityDate_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.MetaData_1_0.DocumentTypeSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.MetaData_1_0.MimeTypeSeq_T">
                <xsd:sequence>
                 <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.Document_1_0.Header_T">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:int"/>
                    <xsd:element name="type" type="xsd:string"/>
                    <xsd:element name="indexFieldList" type="common.ValuePairSeq_T"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="mimeType" type="xsd:string"/>
                    <xsd:element name="revisionNumber" type="xsd:string"/>
                    <xsd:element name="revisionDate" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.Document_1_0.HeaderSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="ecm.Document_1_0.Header_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.Document_1_0.ReferenceValueSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.Document_1_0.Reference_T">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="referenceValueList" 
                        type="ecm.Document_1_0.ReferenceValueSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.Document_1_0.ReferenceSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="ecm.Document_1_0.Reference_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.Document_1_0.Document_T">
                <xsd:sequence>
                    <xsd:element name="header" type="ecm.Document_1_0.Header_T"/>
                    <xsd:element name="content" type="xsd:base64Binary"/>
                    <xsd:element name="referenceList" 
                        type="ecm.Document_1_0.ReferenceSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ecm.Document_1_0.DocumentSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="ecm.Document_1_0.Document_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="common.Object_1_0.ping">
                <xsd:complexType>
                    <xsd:sequence>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="common.Object_1_0.pingResult">
                <xsd:complexType>
                    <xsd:sequence>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.MetaData_1_0.getMimeType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.MetaData_1_0.getMimeTypeResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="mimeTypList" 
                            type="ecm.MetaData_1_0.MimeTypeSeq_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.MetaData_1_0.getType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.MetaData_1_0.getTypeResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="classList" 
                            type="ecm.MetaData_1_0.DocumentTypeSeq_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.retrieve">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="headerList" 
                            type="ecm.Document_1_0.HeaderSeq_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.retrieveResult">
                <xsd:complexType>
                    <xsd:sequence>
                       <xsd:element name="documentList" 
                            type="ecm.Document_1_0.DocumentSeq_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.search">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="indexFieldList" type="common.ValuePairSeq_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.searchResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="headerList" 
                            type="ecm.Document_1_0.HeaderSeq_T"/>
                        <xsd:element name="remark" type="common.Remarks_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.save">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="documentList" 
                            type="ecm.Document_1_0.DocumentSeq_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.saveResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="remark" type="common.Remarks_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.delete">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="headerList" 
                            type="ecm.Document_1_0.HeaderSeq_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.deleteResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
           </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.retrieveHeader">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="identifier" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.retrieveHeaderResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="documentHeader" 
                            type="ecm.Document_1_0.Header_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.saveHeader">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="documentHeader" 
                            type="ecm.Document_1_0.Header_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ecm.Document_1_0.saveHeaderResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="common.Object_1_0.ping">
        <part element="xsd1:common.Object_1_0.ping" name="parameters"/>
    </message>
    <message name="common.Object_1_0.pingResponse">
        <part element="xsd1:common.Object_1_0.pingResult" name="parameters"/>
    </message>
    <message name="ecm.MetaData_1_0.getMimeType">
        <part element="xsd1:ecm.MetaData_1_0.getMimeType" name="parameters"/>
    </message>
    <message name="ecm.MetaData_1_0.getMimeTypeResponse">
        <part element="xsd1:ecm.MetaData_1_0.getMimeTypeResult" name="parameters"/>
    </message>
    <message name="ecm.MetaData_1_0.getType">
        <part element="xsd1:ecm.MetaData_1_0.getType" name="parameters"/>
    </message>
    <message name="ecm.MetaData_1_0.getTypeResponse">
        <part element="xsd1:ecm.MetaData_1_0.getTypeResult" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.retrieve">
        <part element="xsd1:ecm.Document_1_0.retrieve" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.retrieveResponse">
        <part element="xsd1:ecm.Document_1_0.retrieveResult" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.search">
        <part element="xsd1:ecm.Document_1_0.search" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.searchResponse">
        <part element="xsd1:ecm.Document_1_0.searchResult" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.save">
        <part element="xsd1:ecm.Document_1_0.save" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.saveResponse">
        <part element="xsd1:ecm.Document_1_0.saveResult" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.delete">
        <part element="xsd1:ecm.Document_1_0.delete" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.deleteResponse">
        <part element="xsd1:ecm.Document_1_0.deleteResult" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.retrieveHeader">
        <part element="xsd1:ecm.Document_1_0.retrieveHeader" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.retrieveHeaderResponse">
        <part element="xsd1:ecm.Document_1_0.retrieveHeaderResult" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.saveHeader">
        <part element="xsd1:ecm.Document_1_0.saveHeader" name="parameters"/>
    </message>
    <message name="ecm.Document_1_0.saveHeaderResponse">
        <part element="xsd1:ecm.Document_1_0.saveHeaderResult" name="parameters"/>
    </message>
    <portType name="common.Object_0_0">
  </portType>
    <portType name="common.Object_1_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="common.Idlcom">
  </portType>
    <portType name="common.Relation_0_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="common.Relation_1_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="ecm.MetaData_0_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="ecm.MetaData_1_0">
        <operation name="getMimeType">
            <input message="tns:ecm.MetaData_1_0.getMimeType" name="getMimeType"/>
            <output message="tns:ecm.MetaData_1_0.getMimeTypeResponse" 
                name="getMimeTypeResponse"/>
        </operation>
        <operation name="getType">
            <input message="tns:ecm.MetaData_1_0.getType" name="getType"/>
            <output message="tns:ecm.MetaData_1_0.getTypeResponse" name="getTypeResponse"/>
        </operation>
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="ecm.Document_0_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="ecm.Document_1_0">
        <operation name="retrieve">
            <input message="tns:ecm.Document_1_0.retrieve" name="retrieve"/>
            <output message="tns:ecm.Document_1_0.retrieveResponse" 
                name="retrieveResponse"/>
        </operation>
        <operation name="search">
            <input message="tns:ecm.Document_1_0.search" name="search"/>
            <output message="tns:ecm.Document_1_0.searchResponse" name="searchResponse"/>
        </operation>
        <operation name="save">
            <input message="tns:ecm.Document_1_0.save" name="save"/>
            <output message="tns:ecm.Document_1_0.saveResponse" name="saveResponse"/>
        </operation>
        <operation name="delete">
            <input message="tns:ecm.Document_1_0.delete" name="delete"/>
            <output message="tns:ecm.Document_1_0.deleteResponse" name="deleteResponse"/>
        </operation>
        <operation name="retrieveHeader">
            <input message="tns:ecm.Document_1_0.retrieveHeader" name="retrieveHeader"/>
            <output message="tns:ecm.Document_1_0.retrieveHeaderResponse" 
                name="retrieveHeaderResponse"/>
        </operation>
        <operation name="saveHeader">
            <input message="tns:ecm.Document_1_0.saveHeader" name="saveHeader"/>
            <output message="tns:ecm.Document_1_0.saveHeaderResponse" 
                name="saveHeaderResponse"/>
        </operation>
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <binding name="ecm.Document_0_0CORBABinding" type="tns:ecm.Document_0_0">
        <corba:binding repositoryID="IDL:ecm/Document_0_0:1.0"/>
        <operation name="ping">
            <corba:operation name="ping"/>
            <input name="ping"/>
            <output name="pingResponse"/>
        </operation>
    </binding>
    <binding name="ecm.Document_0_0SOAPBinding" type="tns:ecm.Document_0_0">
    <!-- Built client code Change Start -->
    <wsp:PolicyReference URI="#BindingTransportBSTPolicy" />
    <!-- Built client code Change End -->
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <input name="ping">
                <soap:body use="literal"/>
            </input>
            <output name="pingResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="ecm.Document_1_0CORBABinding" type="tns:ecm.Document_1_0">
        <corba:binding repositoryID="IDL:ecm/Document_1_0:1.0"/>
        <operation name="retrieve">
            <corba:operation name="retrieve">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="ns1:ecm.Document_1_0.HeaderSeq_T" mode="in" 
                    name="headerList"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:ecm.Document_1_0.DocumentSeq_T" 
                    name="documentList"/>
            </corba:operation>
            <input name="retrieve"/>
            <output name="retrieveResponse"/>
        </operation>
        <operation name="search">
            <corba:operation name="search">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="ns1:common.ValuePairSeq_T" mode="in" 
                    name="indexFieldList"/>
                <corba:param idltype="ns1:common.Remarks_T" mode="out" name="remark"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:ecm.Document_1_0.HeaderSeq_T" 
                    name="headerList"/>
            </corba:operation>
            <input name="search"/>
            <output name="searchResponse"/>
        </operation>
        <operation name="save">
            <corba:operation name="save">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="ns1:ecm.Document_1_0.DocumentSeq_T" mode="in" 
                    name="documentList"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:common.Remarks_T" name="remark"/>
            </corba:operation>
            <input name="save"/>
            <output name="saveResponse"/>
        </operation>
        <operation name="delete">
            <corba:operation name="delete">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="ns1:ecm.Document_1_0.HeaderSeq_T" mode="in" 
                    name="headerList"/>
                <corba:return idltype="ns1:common.Ex_T" name="ex"/>
            </corba:operation>
            <input name="delete"/>
            <output name="deleteResponse"/>
        </operation>
        <operation name="retrieveHeader">
            <corba:operation name="retrieveHeader">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:long" mode="in" name="identifier"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:ecm.Document_1_0.Header_T" 
                    name="documentHeader"/>
            </corba:operation>
            <input name="retrieveHeader"/>
            <output name="retrieveHeaderResponse"/>
        </operation>
        <operation name="saveHeader">
            <corba:operation name="saveHeader">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="ns1:ecm.Document_1_0.Header_T" mode="in" 
                    name="documentHeader"/>
                <corba:return idltype="ns1:common.Ex_T" name="ex"/>
            </corba:operation>
            <input name="saveHeader"/>
            <output name="saveHeaderResponse"/>
        </operation>
        <operation name="ping">
            <corba:operation name="ping"/>
            <input name="ping"/>
            <output name="pingResponse"/>
        </operation>
    </binding>
    <binding name="ecm.Document_1_0SOAPBinding" type="tns:ecm.Document_1_0">
    <!-- Built client code Change Start -->
    <wsp:PolicyReference URI="#BindingTransportBSTPolicy" />
    <!-- Built client code Change End -->
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="retrieve">
            <soap:operation soapAction="" style="document"/>
            <input name="retrieve">
                <soap:body use="literal"/>
            </input>
            <output name="retrieveResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="search">
            <soap:operation soapAction="" style="document"/>
            <input name="search">
                <soap:body use="literal"/>
            </input>
            <output name="searchResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="save">
            <soap:operation soapAction="" style="document"/>
            <input name="save">
                <soap:body use="literal"/>
            </input>
            <output name="saveResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction="" style="document"/>
            <input name="delete">
                <soap:body use="literal"/>
            </input>
            <output name="deleteResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrieveHeader">
            <soap:operation soapAction="" style="document"/>
            <input name="retrieveHeader">
                <soap:body use="literal"/>
            </input>
            <output name="retrieveHeaderResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="saveHeader">
            <soap:operation soapAction="" style="document"/>
            <input name="saveHeader">
                <soap:body use="literal"/>
            </input>
            <output name="saveHeaderResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <input name="ping">
                <soap:body use="literal"/>
            </input>
            <output name="pingResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="ecm.MetaData_0_0CORBABinding" type="tns:ecm.MetaData_0_0">
        <corba:binding repositoryID="IDL:ecm/MetaData_0_0:1.0"/>
        <operation name="ping">
            <corba:operation name="ping"/>
            <input name="ping"/>
            <output name="pingResponse"/>
        </operation>
    </binding>
    <binding name="ecm.MetaData_0_0SOAPBinding" type="tns:ecm.MetaData_0_0">
    <!-- Built client code Change Start -->
    <wsp:PolicyReference URI="#BindingTransportBSTPolicy" />
    <!-- Built client code Change End -->
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <input name="ping">
                <soap:body use="literal"/>
            </input>
            <output name="pingResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="ecm.MetaData_1_0CORBABinding" type="tns:ecm.MetaData_1_0">
        <corba:binding repositoryID="IDL:ecm/MetaData_1_0:1.0"/>
        <operation name="getMimeType">
            <corba:operation name="getMimeType">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:ecm.MetaData_1_0.MimeTypeSeq_T" 
                    name="mimeTypList"/>
            </corba:operation>
            <input name="getMimeType"/>
            <output name="getMimeTypeResponse"/>
        </operation>
        <operation name="getType">
            <corba:operation name="getType">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:ecm.MetaData_1_0.DocumentTypeSeq_T" 
                    name="classList"/>
            </corba:operation>
            <input name="getType"/>
            <output name="getTypeResponse"/>
        </operation>
        <operation name="ping">
            <corba:operation name="ping"/>
            <input name="ping"/>
            <output name="pingResponse"/>
        </operation>
    </binding>
    <binding name="ecm.MetaData_1_0SOAPBinding" type="tns:ecm.MetaData_1_0">
    <!-- Built client code Change Start -->
    <wsp:PolicyReference URI="#BindingTransportBSTPolicy" />
    <!-- Built client code Change End -->
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getMimeType">
            <soap:operation soapAction="" style="document"/>
            <input name="getMimeType">
                <soap:body use="literal"/>
            </input>
            <output name="getMimeTypeResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getType">
            <soap:operation soapAction="" style="document"/>
            <input name="getType">
                <soap:body use="literal"/>
            </input>
            <output name="getTypeResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <input name="ping">
                <soap:body use="literal"/>
            </input>
            <output name="pingResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <!-- Built client code Change Start -->
    <wsp:Policy wsu:Id="BindingTransportBSTPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <!-- 
                <wsam:Addressing wsp:Optional="false">
                    <wsp:Policy />
                </wsam:Addressing>
                -->
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"><wsp:Policy/></sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:TripleDesRsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SupportingTokens>
                    <wsp:Policy>
                        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <sp:RequestSecurityTokenTemplate>
                                <t:TokenType>http://schemas.iona.com/security/IONASSOToken</t:TokenType>
                                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</t:KeyType>
                            </sp:RequestSecurityTokenTemplate>
                            <wsp:Policy>
                                <sp:RequireInternalReference/>
                            </wsp:Policy>
                            <sp:Issuer>
                                <wsaw:Address>http://to-be-ignored/
                                </wsaw:Address>
                            </sp:Issuer>
                        </sp:IssuedToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:Trust13>
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust13>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <!-- Built client code Change End -->
    <service name="ecm.Document_0_0CORBAService">
        <port binding="tns:ecm.Document_0_0CORBABinding" name="ecm.Document_0_0CORBAPort">
            <corba:address location="corbaname:rir:/NameService#corba/ecm/Document_0_0"/>
        </port>
    </service>
    <service name="ecm.Document_0_0SOAPService">
        <port binding="tns:ecm.Document_0_0SOAPBinding" name="ecm.Document_0_0SOAPPort">
            <soap:address location="https://localhost:0/ecm/Document_0_0"/>
        </port>
    </service>
    <service name="ecm.Document_1_0CORBAService">
        <port binding="tns:ecm.Document_1_0CORBABinding" name="ecm.Document_1_0CORBAPort">
            <corba:address location="corbaname:rir:/NameService#corba/ecm/Document_1_0"/>
        </port>
    </service>
    <service name="ecm.Document_1_0SOAPService">
        <port binding="tns:ecm.Document_1_0SOAPBinding" name="ecm.Document_1_0SOAPPort">
            <soap:address location="https://localhost:0/ecm/Document_1_0"/>
        </port>
    </service>
    <service name="ecm.MetaData_0_0CORBAService">
        <port binding="tns:ecm.MetaData_0_0CORBABinding" name="ecm.MetaData_0_0CORBAPort">
            <corba:address location="corbaname:rir:/NameService#corba/ecm/MetaData_0_0"/>
        </port>
    </service>
    <service name="ecm.MetaData_0_0SOAPService">
        <port binding="tns:ecm.MetaData_0_0SOAPBinding" name="ecm.MetaData_0_0SOAPPort">
            <soap:address location="https://localhost:0/ecm/MetaData_0_0"/>
        </port>
    </service>
    <service name="ecm.MetaData_1_0CORBAService">
        <port binding="tns:ecm.MetaData_1_0CORBABinding" name="ecm.MetaData_1_0CORBAPort">
            <corba:address location="corbaname:rir:/NameService#corba/ecm/MetaData_1_0"/>
        </port>
    </service>
    <service name="ecm.MetaData_1_0SOAPService">
        <port binding="tns:ecm.MetaData_1_0SOAPBinding" name="ecm.MetaData_1_0SOAPPort">
            <soap:address location="https://localhost:0/ecm/MetaData_1_0"/>
        </port>
    </service>
    <corba:typeMapping targetNamespace="http://ch.zurich.com/ecm/corba/typemap/">
        <corba:struct name="ecm.MetaData_1_0.getTypeType" 
            repositoryID="IDL:ecm/MetaData_1_0/getTypeType:1.0" 
            type="xsd1:ecm.MetaData_1_0.getType">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.saveType" 
            repositoryID="IDL:ecm/Document_1_0/saveType:1.0" 
            type="xsd1:ecm.Document_1_0.save">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="ns1:ecm.Document_1_0.DocumentSeq_T" 
                name="documentList"/>
        </corba:struct>
        <corba:struct name="common.Object_1_0.pingType" 
            repositoryID="IDL:common/Object_1_0/pingType:1.0" 
            type="xsd1:common.Object_1_0.ping"/>
        <corba:struct name="ecm.Document_1_0.saveHeaderType" 
            repositoryID="IDL:ecm/Document_1_0/saveHeaderType:1.0" 
            type="xsd1:ecm.Document_1_0.saveHeader">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="ns1:ecm.Document_1_0.Header_T" name="documentHeader"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.retrieveType" 
            repositoryID="IDL:ecm/Document_1_0/retrieveType:1.0" 
            type="xsd1:ecm.Document_1_0.retrieve">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="ns1:ecm.Document_1_0.HeaderSeq_T" name="headerList"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="corba:long" 
            name="common.Relation_0_0.RelationTypeSeq" 
            repositoryID="IDL:common/Relation_0_0/RelationTypeSeq:1.0" 
            type="xsd1:common.Relation_0_0.RelationTypeSeq"/>
        <corba:sequence bound="0" 
            elemtype="ns1:common.Relation_1_0.RelationParticipation" 
            name="common.Relation_1_0.RelationParticipationSeq" 
            repositoryID="IDL:common/Relation_1_0/RelationParticipationSeq:1.0" 
            type="xsd1:common.Relation_1_0.RelationParticipationSeq"/>
        <corba:sequence bound="0" elemtype="corba:string" 
            name="ecm.MetaData_1_0.MimeTypeSeq_T" 
            repositoryID="IDL:ecm/MetaData_1_0/MimeTypeSeq_T:1.0" 
            type="xsd1:ecm.MetaData_1_0.MimeTypeSeq_T"/>
        <corba:sequence bound="0" elemtype="ns1:ecm.Document_1_0.Document_T" 
            name="ecm.Document_1_0.DocumentSeq_T" 
            repositoryID="IDL:ecm/Document_1_0/DocumentSeq_T:1.0" 
            type="xsd1:ecm.Document_1_0.DocumentSeq_T"/>
        <corba:struct name="common.Cursor_T" repositoryID="IDL:common/Cursor_T:1.0" 
            type="xsd1:common.Cursor_T">
            <corba:member idltype="ns1:common.SeqLimit_T" name="limSeq"/>
            <corba:member idltype="ns1:base64BinarySeq" name="sessionKey"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.ExDescr_T" name="common.Remarks_T" 
            repositoryID="IDL:common/Remarks_T:1.0" type="xsd1:common.Remarks_T"/>
        <corba:struct name="common.Relation_1_0.Detail" 
            repositoryID="IDL:common/Relation_1_0/Detail:1.0" 
            type="xsd1:common.Relation_1_0.Detail">
            <corba:member idltype="corba:string" name="paymentType"/>
            <corba:member idltype="corba:string" name="language"/>
            <corba:member idltype="corba:string" name="processStep"/>
            <corba:member idltype="corba:boolean" name="promotion"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.Header_T" 
            repositoryID="IDL:ecm/Document_1_0/Header_T:1.0" 
            type="xsd1:ecm.Document_1_0.Header_T">
            <corba:member idltype="corba:long" name="identifier"/>
            <corba:member idltype="corba:string" name="type"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="indexFieldList"/>
            <corba:member idltype="corba:string" name="name"/>
            <corba:member idltype="corba:string" name="mimeType"/>
            <corba:member idltype="corba:string" name="revisionNumber"/>
            <corba:member idltype="corba:string" name="revisionDate"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.deleteType" 
            repositoryID="IDL:ecm/Document_1_0/deleteType:1.0" 
            type="xsd1:ecm.Document_1_0.delete">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="ns1:ecm.Document_1_0.HeaderSeq_T" name="headerList"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.retrieveHeaderType" 
            repositoryID="IDL:ecm/Document_1_0/retrieveHeaderType:1.0" 
            type="xsd1:ecm.Document_1_0.retrieveHeader">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:long" name="identifier"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.deleteResultType" 
            repositoryID="IDL:ecm/Document_1_0/deleteResultType:1.0" 
            type="xsd1:ecm.Document_1_0.deleteResult">
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="common.IdTyp_T" repositoryID="IDL:common/IdTyp_T:1.0" 
            type="xsd1:common.IdTyp_T">
            <corba:member idltype="corba:long" name="identifier"/>
            <corba:member idltype="corba:string" name="businessArea"/>
            <corba:member idltype="corba:string" name="application"/>
            <corba:member idltype="corba:string" name="branch"/>
            <corba:member idltype="corba:string" name="legalEntity"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="externalIdentifier"/>
        </corba:struct>
        <corba:struct name="common.ValidityDate_T" 
            repositoryID="IDL:common/ValidityDate_T:1.0" 
            type="xsd1:common.ValidityDate_T">
            <corba:member idltype="corba:string" name="from"/>
            <corba:member idltype="corba:string" name="until"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.saveResultType" 
            repositoryID="IDL:ecm/Document_1_0/saveResultType:1.0" 
            type="xsd1:ecm.Document_1_0.saveResult">
            <corba:member idltype="ns1:common.Remarks_T" name="remark"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.saveHeaderResultType" 
            repositoryID="IDL:ecm/Document_1_0/saveHeaderResultType:1.0" 
            type="xsd1:ecm.Document_1_0.saveHeaderResult">
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="corba:octet" name="base64BinarySeq" 
            repositoryID="IDL:base64BinarySeq:1.0" type="xsd:base64Binary"/>
        <corba:struct name="ecm.MetaData_1_0.getMimeTypeResultType" 
            repositoryID="IDL:ecm/MetaData_1_0/getMimeTypeResultType:1.0" 
            type="xsd1:ecm.MetaData_1_0.getMimeTypeResult">
            <corba:member idltype="ns1:ecm.MetaData_1_0.MimeTypeSeq_T" name="mimeTypList"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.ExDescr_T" name="common.Ex_T" 
            repositoryID="IDL:common/Ex_T:1.0" type="xsd1:common.Ex_T"/>
        <corba:struct name="common.Header_T" repositoryID="IDL:common/Header_T:1.0" 
            type="xsd1:common.Header_T">
            <corba:member idltype="corba:boolean" name="traceOn"/>
            <corba:member idltype="corba:string" name="clientId"/>
        </corba:struct>
        <corba:struct name="ecm.MetaData_1_0.getTypeResultType" 
            repositoryID="IDL:ecm/MetaData_1_0/getTypeResultType:1.0" 
            type="xsd1:ecm.MetaData_1_0.getTypeResult">
            <corba:member idltype="ns1:ecm.MetaData_1_0.DocumentTypeSeq_T" 
                name="classList"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="ecm.MetaData_1_0.getMimeTypeType" 
            repositoryID="IDL:ecm/MetaData_1_0/getMimeTypeType:1.0" 
            type="xsd1:ecm.MetaData_1_0.getMimeType">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.ValuePair_T" 
            name="common.ValuePairSeq_T" repositoryID="IDL:common/ValuePairSeq_T:1.0" 
            type="xsd1:common.ValuePairSeq_T"/>
        <corba:sequence bound="0" elemtype="ns1:common.ExValuePair_T" 
            name="common.ExValuePairSeq_T" repositoryID="IDL:common/ExValuePairSeq_T:1.0" 
            type="xsd1:common.ExValuePairSeq_T"/>
        <corba:sequence bound="0" elemtype="ns1:common.Remarks_T" 
            name="common.RemarksSeq_T" repositoryID="IDL:common/RemarksSeq_T:1.0" 
            type="xsd1:common.RemarksSeq_T"/>
        <corba:struct name="common.ValuePair_T" repositoryID="IDL:common/ValuePair_T:1.0" 
            type="xsd1:common.ValuePair_T">
            <corba:member idltype="corba:string" name="key"/>
            <corba:member idltype="corba:string" name="value"/>
            <corba:member idltype="corba:string" name="ctx"/>
        </corba:struct>
        <corba:struct name="common.Object_1_0.pingResultType" 
            repositoryID="IDL:common/Object_1_0/pingResultType:1.0" 
            type="xsd1:common.Object_1_0.pingResult"/>
        <corba:sequence bound="0" elemtype="corba:string" 
            name="ecm.Document_1_0.ReferenceValueSeq_T" 
            repositoryID="IDL:ecm/Document_1_0/ReferenceValueSeq_T:1.0" 
            type="xsd1:ecm.Document_1_0.ReferenceValueSeq_T"/>
        <corba:struct name="common.SeqLimit_T" repositoryID="IDL:common/SeqLimit_T:1.0" 
            type="xsd1:common.SeqLimit_T">
            <corba:member idltype="corba:boolean" name="returnAll"/>
            <corba:member idltype="corba:long" name="maxToReturn"/>
            <corba:member idltype="corba:boolean" name="hasMore"/>
            <corba:member idltype="corba:long" name="totalFound"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.searchResultType" 
            repositoryID="IDL:ecm/Document_1_0/searchResultType:1.0" 
            type="xsd1:ecm.Document_1_0.searchResult">
            <corba:member idltype="ns1:ecm.Document_1_0.HeaderSeq_T" name="headerList"/>
            <corba:member idltype="ns1:common.Remarks_T" name="remark"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="common.Relation_1_0.RelationParticipation" 
            repositoryID="IDL:common/Relation_1_0/RelationParticipation:1.0" 
            type="xsd1:common.Relation_1_0.RelationParticipation">
            <corba:member idltype="ns1:common.IdTyp_T" name="endPointId"/>
            <corba:member idltype="corba:string" name="percentage"/>
            <corba:member idltype="corba:long" name="endpointType"/>
            <corba:member idltype="corba:string" name="order"/>
            <corba:member idltype="corba:string" name="description"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.retrieveResultType" 
            repositoryID="IDL:ecm/Document_1_0/retrieveResultType:1.0" 
            type="xsd1:ecm.Document_1_0.retrieveResult">
            <corba:member idltype="ns1:ecm.Document_1_0.DocumentSeq_T" 
                name="documentList"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.Document_T" 
            repositoryID="IDL:ecm/Document_1_0/Document_T:1.0" 
            type="xsd1:ecm.Document_1_0.Document_T">
            <corba:member idltype="ns1:ecm.Document_1_0.Header_T" name="header"/>
            <corba:member idltype="ns1:base64BinarySeq" name="content"/>
            <corba:member idltype="ns1:ecm.Document_1_0.ReferenceSeq_T" 
                name="referenceList"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="corba:string" 
            name="ecm.MetaData_1_0.DocumentTypeSeq_T" 
            repositoryID="IDL:ecm/MetaData_1_0/DocumentTypeSeq_T:1.0" 
            type="xsd1:ecm.MetaData_1_0.DocumentTypeSeq_T"/>
        <corba:sequence bound="0" elemtype="ns1:ecm.Document_1_0.Header_T" 
            name="ecm.Document_1_0.HeaderSeq_T" 
            repositoryID="IDL:ecm/Document_1_0/HeaderSeq_T:1.0" 
            type="xsd1:ecm.Document_1_0.HeaderSeq_T"/>
        <corba:struct name="common.ExDescr_T" repositoryID="IDL:common/ExDescr_T:1.0" 
            type="xsd1:common.ExDescr_T">
            <corba:member idltype="corba:string" name="domain"/>
            <corba:member idltype="corba:long" name="exCode"/>
            <corba:member idltype="corba:string" name="timestamp"/>
            <corba:member idltype="ns1:common.ExValuePairSeq_T" name="extend"/>
            <corba:member idltype="corba:string" name="traceId"/>
        </corba:struct>
        <corba:struct name="common.ExValuePair_T" 
            repositoryID="IDL:common/ExValuePair_T:1.0" type="xsd1:common.ExValuePair_T">
            <corba:member idltype="corba:string" name="key"/>
            <corba:member idltype="corba:string" name="value"/>
            <corba:member idltype="corba:long" name="ctx"/>
        </corba:struct>
        <corba:struct name="common.Relation_1_0.Relation" 
            repositoryID="IDL:common/Relation_1_0/Relation:1.0" 
            type="xsd1:common.Relation_1_0.Relation">
            <corba:member idltype="ns1:common.IdTyp_T" name="identifier"/>
            <corba:member idltype="corba:string" name="state"/>
            <corba:member idltype="corba:long" name="type"/>
            <corba:member idltype="corba:string" name="stateDate"/>
            <corba:member idltype="corba:string" name="createDate"/>
            <corba:member idltype="ns1:common.Relation_1_0.Detail" name="relationDetail"/>
            <corba:member idltype="ns1:common.Relation_1_0.RelationParticipationSeq" 
                name="relationParticipationList"/>
            <corba:member idltype="ns1:common.ValidityDate_T" name="validity"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.retrieveHeaderResultType" 
            repositoryID="IDL:ecm/Document_1_0/retrieveHeaderResultType:1.0" 
            type="xsd1:ecm.Document_1_0.retrieveHeaderResult">
            <corba:member idltype="ns1:ecm.Document_1_0.Header_T" name="documentHeader"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.searchType" 
            repositoryID="IDL:ecm/Document_1_0/searchType:1.0" 
            type="xsd1:ecm.Document_1_0.search">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="indexFieldList"/>
        </corba:struct>
        <corba:struct name="common.IdTyp" repositoryID="IDL:common/IdTyp:1.0" 
            type="xsd1:common.IdTyp">
            <corba:member idltype="corba:string" name="identifier"/>
            <corba:member idltype="corba:string" name="businessArea"/>
            <corba:member idltype="corba:string" name="application"/>
            <corba:member idltype="corba:string" name="branch"/>
            <corba:member idltype="corba:string" name="legalEntity"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="externalIdentifier"/>
        </corba:struct>
        <corba:struct name="ecm.Document_1_0.Reference_T" 
            repositoryID="IDL:ecm/Document_1_0/Reference_T:1.0" 
            type="xsd1:ecm.Document_1_0.Reference_T">
            <corba:member idltype="corba:string" name="name"/>
            <corba:member idltype="ns1:ecm.Document_1_0.ReferenceValueSeq_T" 
                name="referenceValueList"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:ecm.Document_1_0.Reference_T" 
            name="ecm.Document_1_0.ReferenceSeq_T" 
            repositoryID="IDL:ecm/Document_1_0/ReferenceSeq_T:1.0" 
            type="xsd1:ecm.Document_1_0.ReferenceSeq_T"/>
    </corba:typeMapping>
    <routing:route name="Route_Document_0_0">
        <routing:source port="ecm.Document_0_0SOAPPort" 
            service="tns:ecm.Document_0_0SOAPService"/>
        <routing:destination port="ecm.Document_0_0CORBAPort" 
            service="tns:ecm.Document_0_0CORBAService"/>
    </routing:route>
    <routing:route name="Route_Document_1_0">
        <routing:source port="ecm.Document_1_0SOAPPort" 
            service="tns:ecm.Document_1_0SOAPService"/>
        <routing:destination port="ecm.Document_1_0CORBAPort" 
            service="tns:ecm.Document_1_0CORBAService"/>
    </routing:route>
    <routing:route name="Route_MetaData_0_0">
        <routing:source port="ecm.MetaData_0_0SOAPPort" 
            service="tns:ecm.MetaData_0_0SOAPService"/>
        <routing:destination port="ecm.MetaData_0_0CORBAPort" 
            service="tns:ecm.MetaData_0_0CORBAService"/>
    </routing:route>
    <routing:route name="Route_MetaData_1_0">
        <routing:source port="ecm.MetaData_1_0SOAPPort" 
            service="tns:ecm.MetaData_1_0SOAPService"/>
        <routing:destination port="ecm.MetaData_1_0CORBAPort" 
            service="tns:ecm.MetaData_1_0CORBAService"/>
    </routing:route>
</definitions>


