rs-saml/saml-rest-backend/src/main/webapp/WEB-INF/Omniswitch/fileManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by <idltowsdl> Tool. Version 4.2.1 -->
<definitions targetNamespace="http://ch.zurich.com/fileManager" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:corba="http://schemas.iona.com/bindings/corba" 
    xmlns:http-conf="http://schemas.iona.com/transports/http/configuration" 
    xmlns:ns1="http://ch.zurich.com/fileManager/corba/typemap/" 
    xmlns:routing="http://schemas.iona.com/routing" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://ch.zurich.com/fileManager" 
    xmlns:wsa="http://www.w3.org/2005/08/addressing" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://ch.zurich.com/fileManager/xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
  
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
  
    xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  
    xmlns:wsaw="http://www.w3.org/2005/08/addressing"
    xmlns:http="http://cxf.apache.org/transports/http/configuration"
    xmlns:sec="http://cxf.apache.org/configuration/security"
    >
    <types>
        <xsd:schema targetNamespace="http://ch.zurich.com/fileManager/xsd" 
            xmlns="http://ch.zurich.com/fileManager/xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="common.Header_T">
                <xsd:sequence>
                    <xsd:element name="traceOn" type="xsd:boolean"/>
                    <xsd:element name="clientId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExValuePair_T">
                <xsd:sequence>
                    <xsd:element name="key" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                    <xsd:element name="ctx" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExValuePairSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExValuePair_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ExDescr_T">
                <xsd:sequence>
                    <xsd:element name="domain" type="xsd:string"/>
                    <xsd:element name="exCode" type="xsd:int"/>
                    <xsd:element name="timestamp" type="xsd:string"/>
                    <xsd:element name="extend" type="common.ExValuePairSeq_T"/>
                    <xsd:element name="traceId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Ex_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExDescr_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Remarks_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ExDescr_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.RemarksSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.Remarks_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.SeqLimit_T">
                <xsd:sequence>
                    <xsd:element name="returnAll" type="xsd:boolean"/>
                    <xsd:element name="maxToReturn" type="xsd:int"/>
                    <xsd:element name="hasMore" type="xsd:boolean"/>
                    <xsd:element name="totalFound" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Cursor_T">
                <xsd:sequence>
                    <xsd:element name="limSeq" type="common.SeqLimit_T"/>
                    <xsd:element name="sessionKey" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValuePair_T">
                <xsd:sequence>
                    <xsd:element name="key" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                    <xsd:element name="ctx" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValuePairSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.ValuePair_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.ValidityDate_T">
                <xsd:sequence>
                    <xsd:element name="from" type="xsd:string"/>
                    <xsd:element name="until" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.IdTyp_T">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:int"/>
                    <xsd:element name="businessArea" type="xsd:string"/>
                    <xsd:element name="application" type="xsd:string"/>
                    <xsd:element name="branch" type="xsd:string"/>
                    <xsd:element name="legalEntity" type="xsd:string"/>
                    <xsd:element name="externalIdentifier" type="common.ValuePairSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.IdTyp">
                <xsd:sequence>
                    <xsd:element name="identifier" type="xsd:string"/>
                    <xsd:element name="businessArea" type="xsd:string"/>
                    <xsd:element name="application" type="xsd:string"/>
                    <xsd:element name="branch" type="xsd:string"/>
                    <xsd:element name="legalEntity" type="xsd:string"/>
                    <xsd:element name="externalIdentifier" type="common.ValuePairSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_0_0.RelationTypeSeq">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.Detail">
                <xsd:sequence>
                    <xsd:element name="paymentType" type="xsd:string"/>
                    <xsd:element name="language" type="xsd:string"/>
                    <xsd:element name="processStep" type="xsd:string"/>
                    <xsd:element name="promotion" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.RelationParticipation">
                <xsd:sequence>
                    <xsd:element name="endPointId" type="common.IdTyp_T"/>
                    <xsd:element name="percentage" type="xsd:string"/>
                    <xsd:element name="endpointType" type="xsd:int"/>
                    <xsd:element name="order" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.RelationParticipationSeq">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="common.Relation_1_0.RelationParticipation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="common.Relation_1_0.Relation">
                <xsd:sequence>
                    <xsd:element name="identifier" type="common.IdTyp_T"/>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="type" type="xsd:int"/>
                    <xsd:element name="stateDate" type="xsd:string"/>
                    <xsd:element name="createDate" type="xsd:string"/>
                    <xsd:element name="relationDetail" type="common.Relation_1_0.Detail"/>
                    <xsd:element name="relationParticipationList" 
                        type="common.Relation_1_0.RelationParticipationSeq"/>
                    <xsd:element name="validity" type="common.ValidityDate_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="fileManager.FileManager_1_0.FileDescriptor_T">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="size" type="xsd:string"/>
                    <xsd:element name="modified" type="xsd:string"/>
                    <xsd:element name="type" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="fileManager.FileManager_1_0.FileDescriptorSeq_T">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" 
                        type="fileManager.FileManager_1_0.FileDescriptor_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="fileManager.FileManager_1_0.Location_T">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="content" type="xsd:base64Binary"/>
                    <xsd:element name="fileDescriptorList" 
                        type="fileManager.FileManager_1_0.FileDescriptorSeq_T"/>
                    <xsd:element name="versionInfoList" type="common.ValuePairSeq_T"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="common.Object_1_0.ping">
                <xsd:complexType>
                    <xsd:sequence>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="common.Object_1_0.pingResult">
                <xsd:complexType>
                    <xsd:sequence>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.getAllFileDescriptor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="locationName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.getAllFileDescriptorResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fileDescriptorList" 
                            type="fileManager.FileManager_1_0.Location_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.copyFileDescriptor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="source" type="xsd:string"/>
                        <xsd:element name="destination" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.copyFileDescriptorResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.getFile">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="fileName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.getFileResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="location" 
                            type="fileManager.FileManager_1_0.Location_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.getVersionInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="fileName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.getVersionInfoResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="versionInfoList" type="common.ValuePairSeq_T"/>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.addVersionInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="common.Header_T"/>
                        <xsd:element name="fileName" type="xsd:string"/>
                        <xsd:element name="versionInfo" type="common.ValuePair_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fileManager.FileManager_1_0.addVersionInfoResult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ex" type="common.Ex_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="common.Object_1_0.ping">
        <part element="xsd1:common.Object_1_0.ping" name="parameters"/>
    </message>
    <message name="common.Object_1_0.pingResponse">
        <part element="xsd1:common.Object_1_0.pingResult" name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.getAllFileDescriptor">
        <part element="xsd1:fileManager.FileManager_1_0.getAllFileDescriptor" 
            name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.getAllFileDescriptorResponse">
        <part element="xsd1:fileManager.FileManager_1_0.getAllFileDescriptorResult" 
            name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.copyFileDescriptor">
        <part element="xsd1:fileManager.FileManager_1_0.copyFileDescriptor" 
            name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.copyFileDescriptorResponse">
        <part element="xsd1:fileManager.FileManager_1_0.copyFileDescriptorResult" 
            name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.getFile">
        <part element="xsd1:fileManager.FileManager_1_0.getFile" name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.getFileResponse">
        <part element="xsd1:fileManager.FileManager_1_0.getFileResult" name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.getVersionInfo">
        <part element="xsd1:fileManager.FileManager_1_0.getVersionInfo" name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.getVersionInfoResponse">
        <part element="xsd1:fileManager.FileManager_1_0.getVersionInfoResult" 
            name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.addVersionInfo">
        <part element="xsd1:fileManager.FileManager_1_0.addVersionInfo" name="parameters"/>
    </message>
    <message name="fileManager.FileManager_1_0.addVersionInfoResponse">
        <part element="xsd1:fileManager.FileManager_1_0.addVersionInfoResult" 
            name="parameters"/>
    </message>
    <portType name="common.Object_0_0">
  </portType>
    <portType name="common.Object_1_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="common.Idlcom">
  </portType>
    <portType name="common.Relation_0_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="common.Relation_1_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="fileManager.FileManager_0_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
    </portType>
    <portType name="fileManager.FileManager_1_0">
        <operation name="ping">
            <input message="tns:common.Object_1_0.ping" name="ping"/>
            <output message="tns:common.Object_1_0.pingResponse" name="pingResponse"/>
        </operation>
        <operation name="getAllFileDescriptor">
            <input message="tns:fileManager.FileManager_1_0.getAllFileDescriptor" 
                name="getAllFileDescriptor"/>
            <output 
                message="tns:fileManager.FileManager_1_0.getAllFileDescriptorResponse" 
                name="getAllFileDescriptorResponse"/>
        </operation>
        <operation name="copyFileDescriptor">
            <input message="tns:fileManager.FileManager_1_0.copyFileDescriptor" 
                name="copyFileDescriptor"/>
            <output message="tns:fileManager.FileManager_1_0.copyFileDescriptorResponse" 
                name="copyFileDescriptorResponse"/>
        </operation>
        <operation name="getFile">
            <input message="tns:fileManager.FileManager_1_0.getFile" name="getFile"/>
            <output message="tns:fileManager.FileManager_1_0.getFileResponse" 
                name="getFileResponse"/>
        </operation>
        <operation name="getVersionInfo">
            <input message="tns:fileManager.FileManager_1_0.getVersionInfo" 
                name="getVersionInfo"/>
            <output message="tns:fileManager.FileManager_1_0.getVersionInfoResponse" 
                name="getVersionInfoResponse"/>
        </operation>
        <operation name="addVersionInfo">
            <input message="tns:fileManager.FileManager_1_0.addVersionInfo" 
                name="addVersionInfo"/>
            <output message="tns:fileManager.FileManager_1_0.addVersionInfoResponse" 
                name="addVersionInfoResponse"/>
        </operation>
    </portType>
    <binding name="fileManager.FileManager_1_0CORBABinding" 
        type="tns:fileManager.FileManager_1_0">
        <corba:binding repositoryID="IDL:fileManager/FileManager_1_0:1.0"/>
        <operation name="ping">
            <corba:operation name="ping"/>
            <input name="ping"/>
            <output name="pingResponse"/>
        </operation>
        <operation name="getAllFileDescriptor">
            <corba:operation name="getAllFileDescriptor">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:string" mode="in" name="locationName"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:fileManager.FileManager_1_0.Location_T" 
                    name="fileDescriptorList"/>
            </corba:operation>
            <input name="getAllFileDescriptor"/>
            <output name="getAllFileDescriptorResponse"/>
        </operation>
        <operation name="copyFileDescriptor">
            <corba:operation name="copyFileDescriptor">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:string" mode="in" name="source"/>
                <corba:param idltype="corba:string" mode="in" name="destination"/>
                <corba:return idltype="ns1:common.Ex_T" name="ex"/>
            </corba:operation>
            <input name="copyFileDescriptor"/>
            <output name="copyFileDescriptorResponse"/>
        </operation>
        <operation name="getFile">
            <corba:operation name="getFile">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:string" mode="in" name="fileName"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:fileManager.FileManager_1_0.Location_T" 
                    name="location"/>
            </corba:operation>
            <input name="getFile"/>
            <output name="getFileResponse"/>
        </operation>
        <operation name="getVersionInfo">
            <corba:operation name="getVersionInfo">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:string" mode="in" name="fileName"/>
                <corba:param idltype="ns1:common.Ex_T" mode="out" name="ex"/>
                <corba:return idltype="ns1:common.ValuePairSeq_T" name="versionInfoList"/>
            </corba:operation>
            <input name="getVersionInfo"/>
            <output name="getVersionInfoResponse"/>
        </operation>
        <operation name="addVersionInfo">
            <corba:operation name="addVersionInfo">
                <corba:param idltype="ns1:common.Header_T" mode="in" name="header"/>
                <corba:param idltype="corba:string" mode="in" name="fileName"/>
                <corba:param idltype="ns1:common.ValuePair_T" mode="in" 
                    name="versionInfo"/>
                <corba:return idltype="ns1:common.Ex_T" name="ex"/>
            </corba:operation>
            <input name="addVersionInfo"/>
            <output name="addVersionInfoResponse"/>
        </operation>
    </binding>
    <binding name="fileManager.FileManager_1_0SOAPBinding" 
        type="tns:fileManager.FileManager_1_0">
        <!-- Built client code Change Start -->
    <wsp:PolicyReference URI="#BindingTransportBSTPolicy" />
    <!-- Built client code Change End -->
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <input name="ping">
                <soap:body use="literal"/>
            </input>
            <output name="pingResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllFileDescriptor">
            <soap:operation soapAction="" style="document"/>
            <input name="getAllFileDescriptor">
                <soap:body use="literal"/>
            </input>
            <output name="getAllFileDescriptorResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="copyFileDescriptor">
            <soap:operation soapAction="" style="document"/>
            <input name="copyFileDescriptor">
                <soap:body use="literal"/>
            </input>
            <output name="copyFileDescriptorResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFile">
            <soap:operation soapAction="" style="document"/>
            <input name="getFile">
                <soap:body use="literal"/>
            </input>
            <output name="getFileResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVersionInfo">
            <soap:operation soapAction="" style="document"/>
            <input name="getVersionInfo">
                <soap:body use="literal"/>
            </input>
            <output name="getVersionInfoResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addVersionInfo">
            <soap:operation soapAction="" style="document"/>
            <input name="addVersionInfo">
                <soap:body use="literal"/>
            </input>
            <output name="addVersionInfoResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="fileManager.FileManager_0_0CORBABinding" 
        type="tns:fileManager.FileManager_0_0">
        <corba:binding repositoryID="IDL:fileManager/FileManager_0_0:1.0"/>
        <operation name="ping">
            <corba:operation name="ping"/>
            <input name="ping"/>
            <output name="pingResponse"/>
        </operation>
    </binding>
    <binding name="fileManager.FileManager_0_0SOAPBinding" 
        type="tns:fileManager.FileManager_0_0">
        <!-- Built client code Change Start -->
    <wsp:PolicyReference URI="#BindingTransportBSTPolicy" />
    <!-- Built client code Change End -->
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <input name="ping">
                <soap:body use="literal"/>
            </input>
            <output name="pingResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
      <!-- Built client code Change Start -->
    <wsp:Policy wsu:Id="BindingTransportBSTPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <!-- 
                <wsam:Addressing wsp:Optional="false">
                    <wsp:Policy />
                </wsam:Addressing>
                -->
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"><wsp:Policy/></sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:TripleDesRsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SupportingTokens>
                    <wsp:Policy>
                        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <sp:RequestSecurityTokenTemplate>
                                <t:TokenType>http://schemas.iona.com/security/IONASSOToken</t:TokenType>
                                <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</t:KeyType>
                            </sp:RequestSecurityTokenTemplate>
                            <wsp:Policy>
                                <sp:RequireInternalReference/>
                            </wsp:Policy>
                            <sp:Issuer>
                                <wsaw:Address>http://to-be-ignored/
                                </wsaw:Address>
                            </sp:Issuer>
                        </sp:IssuedToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:Trust13>
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust13>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <!-- Built client code Change End -->
    <service name="fileManager.FileManager_1_0CORBAService">
        <port binding="tns:fileManager.FileManager_1_0CORBABinding" 
            name="fileManager.FileManager_1_0CORBAPort">
            <corba:address 
                location="corbaname:rir:/NameService#corba/fileManager/FileManager_1_0"/>
        </port>
    </service>
    <service name="fileManager.FileManager_1_0SOAPService">
        <port binding="tns:fileManager.FileManager_1_0SOAPBinding" 
            name="fileManager.FileManager_1_0SOAPPort">
            <soap:address location="https://localhost:0/fileManager/FileManager_1_0"/>
        </port>
    </service>
    <service name="fileManager.FileManager_0_0CORBAService">
        <port binding="tns:fileManager.FileManager_0_0CORBABinding" 
            name="fileManager.FileManager_0_0CORBAPort">
            <corba:address 
                location="corbaname:rir:/NameService#corba/fileManager/FileManager_0_0"/>
        </port>
    </service>
    <service name="fileManager.FileManager_0_0SOAPService">
        <port binding="tns:fileManager.FileManager_0_0SOAPBinding" 
            name="fileManager.FileManager_0_0SOAPPort">
            <soap:address location="https://localhost:0/fileManager/FileManager_0_0"/>
        </port>
    </service>
    <corba:typeMapping targetNamespace="http://ch.zurich.com/fileManager/corba/typemap/">
        <corba:sequence bound="0" elemtype="ns1:common.ExValuePair_T" 
            name="common.ExValuePairSeq_T" repositoryID="IDL:common/ExValuePairSeq_T:1.0" 
            type="xsd1:common.ExValuePairSeq_T"/>
        <corba:struct name="fileManager.FileManager_1_0.Location_T" 
            repositoryID="IDL:fileManager/FileManager_1_0/Location_T:1.0" 
            type="xsd1:fileManager.FileManager_1_0.Location_T">
            <corba:member idltype="corba:string" name="name"/>
            <corba:member idltype="ns1:base64BinarySeq" name="content"/>
            <corba:member idltype="ns1:fileManager.FileManager_1_0.FileDescriptorSeq_T" 
                name="fileDescriptorList"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="versionInfoList"/>
        </corba:struct>
        <corba:struct name="fileManager.FileManager_1_0.getVersionInfoType" 
            repositoryID="IDL:fileManager/FileManager_1_0/getVersionInfoType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.getVersionInfo">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:string" name="fileName"/>
        </corba:struct>
        <corba:struct name="common.ValidityDate_T" 
            repositoryID="IDL:common/ValidityDate_T:1.0" 
            type="xsd1:common.ValidityDate_T">
            <corba:member idltype="corba:string" name="from"/>
            <corba:member idltype="corba:string" name="until"/>
        </corba:struct>
        <corba:struct name="common.Object_1_0.pingResultType" 
            repositoryID="IDL:common/Object_1_0/pingResultType:1.0" 
            type="xsd1:common.Object_1_0.pingResult"/>
        <corba:struct name="fileManager.FileManager_1_0.getFileResultType" 
            repositoryID="IDL:fileManager/FileManager_1_0/getFileResultType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.getFileResult">
            <corba:member idltype="ns1:fileManager.FileManager_1_0.Location_T" 
                name="location"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="fileManager.FileManager_1_0.copyFileDescriptorType" 
            repositoryID="IDL:fileManager/FileManager_1_0/copyFileDescriptorType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.copyFileDescriptor">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:string" name="source"/>
            <corba:member idltype="corba:string" name="destination"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="corba:octet" name="base64BinarySeq" 
            repositoryID="IDL:base64BinarySeq:1.0" type="xsd:base64Binary"/>
        <corba:sequence bound="0" elemtype="ns1:common.Remarks_T" 
            name="common.RemarksSeq_T" repositoryID="IDL:common/RemarksSeq_T:1.0" 
            type="xsd1:common.RemarksSeq_T"/>
        <corba:struct name="fileManager.FileManager_1_0.addVersionInfoResultType" 
            repositoryID="IDL:fileManager/FileManager_1_0/addVersionInfoResultType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.addVersionInfoResult">
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="fileManager.FileManager_1_0.getVersionInfoResultType" 
            repositoryID="IDL:fileManager/FileManager_1_0/getVersionInfoResultType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.getVersionInfoResult">
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="versionInfoList"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="fileManager.FileManager_1_0.getFileType" 
            repositoryID="IDL:fileManager/FileManager_1_0/getFileType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.getFile">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:string" name="fileName"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="corba:long" 
            name="common.Relation_0_0.RelationTypeSeq" 
            repositoryID="IDL:common/Relation_0_0/RelationTypeSeq:1.0" 
            type="xsd1:common.Relation_0_0.RelationTypeSeq"/>
        <corba:sequence bound="0" elemtype="ns1:common.ValuePair_T" 
            name="common.ValuePairSeq_T" repositoryID="IDL:common/ValuePairSeq_T:1.0" 
            type="xsd1:common.ValuePairSeq_T"/>
        <corba:sequence bound="0" 
            elemtype="ns1:common.Relation_1_0.RelationParticipation" 
            name="common.Relation_1_0.RelationParticipationSeq" 
            repositoryID="IDL:common/Relation_1_0/RelationParticipationSeq:1.0" 
            type="xsd1:common.Relation_1_0.RelationParticipationSeq"/>
        <corba:struct name="common.ValuePair_T" repositoryID="IDL:common/ValuePair_T:1.0" 
            type="xsd1:common.ValuePair_T">
            <corba:member idltype="corba:string" name="key"/>
            <corba:member idltype="corba:string" name="value"/>
            <corba:member idltype="corba:string" name="ctx"/>
        </corba:struct>
        <corba:struct name="common.IdTyp" repositoryID="IDL:common/IdTyp:1.0" 
            type="xsd1:common.IdTyp">
            <corba:member idltype="corba:string" name="identifier"/>
            <corba:member idltype="corba:string" name="businessArea"/>
            <corba:member idltype="corba:string" name="application"/>
            <corba:member idltype="corba:string" name="branch"/>
            <corba:member idltype="corba:string" name="legalEntity"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="externalIdentifier"/>
        </corba:struct>
        <corba:struct name="common.Relation_1_0.RelationParticipation" 
            repositoryID="IDL:common/Relation_1_0/RelationParticipation:1.0" 
            type="xsd1:common.Relation_1_0.RelationParticipation">
            <corba:member idltype="ns1:common.IdTyp_T" name="endPointId"/>
            <corba:member idltype="corba:string" name="percentage"/>
            <corba:member idltype="corba:long" name="endpointType"/>
            <corba:member idltype="corba:string" name="order"/>
            <corba:member idltype="corba:string" name="description"/>
        </corba:struct>
        <corba:struct name="common.ExDescr_T" repositoryID="IDL:common/ExDescr_T:1.0" 
            type="xsd1:common.ExDescr_T">
            <corba:member idltype="corba:string" name="domain"/>
            <corba:member idltype="corba:long" name="exCode"/>
            <corba:member idltype="corba:string" name="timestamp"/>
            <corba:member idltype="ns1:common.ExValuePairSeq_T" name="extend"/>
            <corba:member idltype="corba:string" name="traceId"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.ExDescr_T" name="common.Ex_T" 
            repositoryID="IDL:common/Ex_T:1.0" type="xsd1:common.Ex_T"/>
        <corba:struct name="common.Header_T" repositoryID="IDL:common/Header_T:1.0" 
            type="xsd1:common.Header_T">
            <corba:member idltype="corba:boolean" name="traceOn"/>
            <corba:member idltype="corba:string" name="clientId"/>
        </corba:struct>
        <corba:struct name="common.Relation_1_0.Detail" 
            repositoryID="IDL:common/Relation_1_0/Detail:1.0" 
            type="xsd1:common.Relation_1_0.Detail">
            <corba:member idltype="corba:string" name="paymentType"/>
            <corba:member idltype="corba:string" name="language"/>
            <corba:member idltype="corba:string" name="processStep"/>
            <corba:member idltype="corba:boolean" name="promotion"/>
        </corba:struct>
        <corba:struct name="fileManager.FileManager_1_0.addVersionInfoType" 
            repositoryID="IDL:fileManager/FileManager_1_0/addVersionInfoType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.addVersionInfo">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:string" name="fileName"/>
            <corba:member idltype="ns1:common.ValuePair_T" name="versionInfo"/>
        </corba:struct>
        <corba:struct name="common.ExValuePair_T" 
            repositoryID="IDL:common/ExValuePair_T:1.0" type="xsd1:common.ExValuePair_T">
            <corba:member idltype="corba:string" name="key"/>
            <corba:member idltype="corba:string" name="value"/>
            <corba:member idltype="corba:long" name="ctx"/>
        </corba:struct>
        <corba:struct name="fileManager.FileManager_1_0.getAllFileDescriptorType" 
            repositoryID="IDL:fileManager/FileManager_1_0/getAllFileDescriptorType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.getAllFileDescriptor">
            <corba:member idltype="ns1:common.Header_T" name="header"/>
            <corba:member idltype="corba:string" name="locationName"/>
        </corba:struct>
        <corba:struct name="fileManager.FileManager_1_0.getAllFileDescriptorResultType" 
            repositoryID="IDL:fileManager/FileManager_1_0/getAllFileDescriptorResultType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.getAllFileDescriptorResult">
            <corba:member idltype="ns1:fileManager.FileManager_1_0.Location_T" 
                name="fileDescriptorList"/>
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
        <corba:struct name="common.Relation_1_0.Relation" 
            repositoryID="IDL:common/Relation_1_0/Relation:1.0" 
            type="xsd1:common.Relation_1_0.Relation">
            <corba:member idltype="ns1:common.IdTyp_T" name="identifier"/>
            <corba:member idltype="corba:string" name="state"/>
            <corba:member idltype="corba:long" name="type"/>
            <corba:member idltype="corba:string" name="stateDate"/>
            <corba:member idltype="corba:string" name="createDate"/>
            <corba:member idltype="ns1:common.Relation_1_0.Detail" name="relationDetail"/>
            <corba:member idltype="ns1:common.Relation_1_0.RelationParticipationSeq" 
                name="relationParticipationList"/>
            <corba:member idltype="ns1:common.ValidityDate_T" name="validity"/>
        </corba:struct>
        <corba:sequence bound="0" 
            elemtype="ns1:fileManager.FileManager_1_0.FileDescriptor_T" 
            name="fileManager.FileManager_1_0.FileDescriptorSeq_T" 
            repositoryID="IDL:fileManager/FileManager_1_0/FileDescriptorSeq_T:1.0" 
            type="xsd1:fileManager.FileManager_1_0.FileDescriptorSeq_T"/>
        <corba:struct name="common.Object_1_0.pingType" 
            repositoryID="IDL:common/Object_1_0/pingType:1.0" 
            type="xsd1:common.Object_1_0.ping"/>
        <corba:struct name="common.Cursor_T" repositoryID="IDL:common/Cursor_T:1.0" 
            type="xsd1:common.Cursor_T">
            <corba:member idltype="ns1:common.SeqLimit_T" name="limSeq"/>
            <corba:member idltype="ns1:base64BinarySeq" name="sessionKey"/>
        </corba:struct>
        <corba:struct name="fileManager.FileManager_1_0.FileDescriptor_T" 
            repositoryID="IDL:fileManager/FileManager_1_0/FileDescriptor_T:1.0" 
            type="xsd1:fileManager.FileManager_1_0.FileDescriptor_T">
            <corba:member idltype="corba:string" name="name"/>
            <corba:member idltype="corba:string" name="size"/>
            <corba:member idltype="corba:string" name="modified"/>
            <corba:member idltype="corba:string" name="type"/>
        </corba:struct>
        <corba:struct name="common.IdTyp_T" repositoryID="IDL:common/IdTyp_T:1.0" 
            type="xsd1:common.IdTyp_T">
            <corba:member idltype="corba:long" name="identifier"/>
            <corba:member idltype="corba:string" name="businessArea"/>
            <corba:member idltype="corba:string" name="application"/>
            <corba:member idltype="corba:string" name="branch"/>
            <corba:member idltype="corba:string" name="legalEntity"/>
            <corba:member idltype="ns1:common.ValuePairSeq_T" name="externalIdentifier"/>
        </corba:struct>
        <corba:struct name="common.SeqLimit_T" repositoryID="IDL:common/SeqLimit_T:1.0" 
            type="xsd1:common.SeqLimit_T">
            <corba:member idltype="corba:boolean" name="returnAll"/>
            <corba:member idltype="corba:long" name="maxToReturn"/>
            <corba:member idltype="corba:boolean" name="hasMore"/>
            <corba:member idltype="corba:long" name="totalFound"/>
        </corba:struct>
        <corba:sequence bound="0" elemtype="ns1:common.ExDescr_T" name="common.Remarks_T" 
            repositoryID="IDL:common/Remarks_T:1.0" type="xsd1:common.Remarks_T"/>
        <corba:struct name="fileManager.FileManager_1_0.copyFileDescriptorResultType" 
            repositoryID="IDL:fileManager/FileManager_1_0/copyFileDescriptorResultType:1.0" 
            type="xsd1:fileManager.FileManager_1_0.copyFileDescriptorResult">
            <corba:member idltype="ns1:common.Ex_T" name="ex"/>
        </corba:struct>
    </corba:typeMapping>
    <routing:route name="Route_FileManager_1_0">
        <routing:source port="fileManager.FileManager_1_0SOAPPort" 
            service="tns:fileManager.FileManager_1_0SOAPService"/>
        <routing:destination port="fileManager.FileManager_1_0CORBAPort" 
            service="tns:fileManager.FileManager_1_0CORBAService"/>
    </routing:route>
    <routing:route name="Route_FileManager_0_0">
        <routing:source port="fileManager.FileManager_0_0SOAPPort" 
            service="tns:fileManager.FileManager_0_0SOAPService"/>
        <routing:destination port="fileManager.FileManager_0_0CORBAPort" 
            service="tns:fileManager.FileManager_0_0CORBAService"/>
    </routing:route>
</definitions>
