rs-saml/saml-rest-backend/src/main/webapp/WEB-INF/classes/schemas/StatusFile_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Code">
		<xsd:simpleType>
			<xsd:restriction base="xsd:byte">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
				<xsd:enumeration value="3"/>
				<xsd:enumeration value="4"/>
				<xsd:enumeration value="5"/>
				<xsd:enumeration value="6"/>
				<xsd:enumeration value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Current">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Time"/>
				<xsd:element ref="Status"/>
				<xsd:element ref="NextSystem"/>
				<xsd:element ref="KdxStatus" minOccurs="0"/>
				<xsd:element ref="ErrorCode" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="ErrorCode" type="xsd:integer"/>
	<xsd:element name="KdxStatus">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="jsCancelled"/>
				<xsd:enumeration value="jsPreparing"/>
				<xsd:enumeration value="jsReady"/>
				<xsd:enumeration value="jsPlanning"/>
				<xsd:enumeration value="jsPoolBox"/>
				<xsd:enumeration value="jsProcessing"/>
				<xsd:enumeration value="jsVerifying"/>
				<xsd:enumeration value="jsAuthorizing"/>
				<xsd:enumeration value="jsAuthorizingInternal"/>
				<xsd:enumeration value="jsAuthorizingExternal"/>
				<xsd:enumeration value="jsReporting"/>
				<xsd:enumeration value="jsReportingManual"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Log">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Time"/>
				<xsd:element ref="Code"/>
				<xsd:element ref="System"/>
				<xsd:element ref="KdxStatus" minOccurs="0"/>
				<xsd:element ref="ErrorCode" minOccurs="0"/>
				<xsd:element ref="Description"/>
			</xsd:all>
			<xsd:attribute name="num" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Logs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Log" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NextSystem">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="ADAPTER"/>
				<xsd:enumeration value="ELDA"/>
				<xsd:enumeration value="KDX"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Status">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Logs"/>
				<xsd:element ref="Current"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="System">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="ADAPTER"/>
				<xsd:enumeration value="ELDA"/>
				<xsd:enumeration value="KDX"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Time">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
