rs-saml/saml-rest-backend/src/main/webapp/WEB-INF/WASABI/claimmanagement_v1/schema/MDInvoiceRequest_300.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==========================================================================
   Date of Generation: 01.07.2002

   This is the schema definition for a "MD Invoice Request" process encoded
   in XML. The MDInvoiceRequest is generated when sending one invoice to a
   recipient via an intermediate either as tier garant (recipient= guarantor)
   or tiers payant (recipient=insurance). That is the sender deals with the
   intermediate in the sense of a mailbox. It is the intermediate's responsibility
   to manage the communication with the recipeint - insurance or guarantor.

   This is normative for the electronic invoice project XMLInvoice.

   Permission to use, and distribute this schema and its accompanying
   documentation for any purpose and without fee is hereby granted in perpetuity,
   provided that the above copyright notice and this paragraph appear in all copies
   and this schema file is not altered.
   The copyright holders make no representation about the suitability of the schema
   for any purpose.

   It is provided "as is" without expressed or implied warranty.

   Copyright (c) 2002 MediData AG,
   All Rights Reserved.
   ========================================================================== -->
<schema targetNamespace="http://www.xmlData.ch/xmlInvoice/XSD" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:invoice="http://www.xmlData.ch/xmlInvoice/XSD" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
	Datentyp string 1 bis 3 Zeichen
	-->
	<simpleType name="stringType1_3">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 9 Zeichen
	-->
	<simpleType name="stringType1_9">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 12 Zeichen
	-->
	<simpleType name="stringType1_12">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="12"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 20 Zeichen
	-->
	<simpleType name="stringType1_20">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 25 Zeichen
	-->
	<simpleType name="stringType1_25">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="25"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 35 Zeichen
	-->
	<simpleType name="stringType1_35">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="35"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 50 Zeichen
	-->
	<simpleType name="stringType1_50">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 70 Zeichen
	-->
	<simpleType name="stringType1_70">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="70"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 100 Zeichen
	-->
	<simpleType name="stringType1_100">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 350 Zeichen
	-->
	<simpleType name="stringType1_350">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="350"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 0 bis 350 Zeichen
	-->
	<simpleType name="stringType0_350">
		<restriction base="string">
			<maxLength value="350"/>
		</restriction>
	</simpleType>
	<!--
	address_mod.xsd
	-->
	<complexType name="companyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<element name="postal" type="invoice:postalAddressType" minOccurs="0"/>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="personType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<element name="postal" type="invoice:postalAddressType" minOccurs="0"/>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="zipType">
		<simpleContent>
			<extension base="invoice:stringType1_9">
				<attribute name="statecode" type="invoice:stringType1_9"/>
				<attribute name="countrycode" type="invoice:stringType1_3" default="CH"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="postalAddressType">
		<sequence>
			<sequence>
				<element name="pobox" type="invoice:stringType1_35" minOccurs="0"/>
				<element name="street" type="invoice:stringType1_35" minOccurs="0"/>
			</sequence>
			<element name="zip" type="invoice:zipType"/>
			<element name="city" type="invoice:stringType1_35"/>
		</sequence>
	</complexType>
	<complexType name="telecomAddressType">
		<sequence>
			<element name="phone" type="invoice:phoneType" maxOccurs="3"/>
			<element name="fax" type="invoice:phoneType" minOccurs="0" maxOccurs="3"/>
		</sequence>
	</complexType>
	<complexType name="phoneType">
		<simpleContent>
			<extension base="invoice:basePhoneNumberType">
				<attribute name="loccode" type="positiveInteger"/>
				<attribute name="intcode" type="positiveInteger" default="41"/>
				<attribute name="ext" type="positiveInteger"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="basePhoneNumberType">
		<restriction base="invoice:stringType1_25">
			<pattern value="[0-9+][0-9\s\.,;+ /]{5,}"/>
		</restriction>
	</simpleType>
	<complexType name="onlineAddressType">
		<sequence>
			<element name="email" maxOccurs="3">
				<simpleType>
					<restriction base="invoice:stringType1_70">
						<pattern value=".+@.+"/>
					</restriction>
				</simpleType>
			</element>
			<element name="url" minOccurs="0" maxOccurs="3">
				<simpleType>
					<restriction base="anyURI">
						<minLength value="1"/>
						<maxLength value="100"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<!-- header_mod.xsd -->
	<complexType name="headerPartyType">
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
	</complexType>
	<complexType name="xtendHeaderPartyType">
		<attribute name="ean_party" type="invoice:xtendEanPartyType" use="required"/>
	</complexType>
	<complexType name="headerType">
		<sequence>
			<element name="sender" type="invoice:headerPartyType"/>
			<element name="intermediate" type="invoice:headerPartyType"/>
			<element name="recipient" type="invoice:xtendHeaderPartyType"/>
		</sequence>
	</complexType>
	<!-- prolog_mod.xsd -->
	<complexType name="prologType">
		<sequence>
			<element name="package" type="invoice:softwareType" minOccurs="0"/>
			<element name="generator" type="invoice:generatorType"/>
			<element name="validator" type="invoice:dataValidatorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="generatorType">
		<sequence>
			<element name="software" type="invoice:softwareType"/>
		</sequence>
	</complexType>
	<complexType name="softwareType">
		<simpleContent>
			<extension base="invoice:stringType1_50">
				<attribute name="version" type="invoice:versionType" use="required"/>
				<attribute name="id" default="0">
					<simpleType>
						<restriction base="integer">
							<minInclusive value="0"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="versionType">
		<restriction base="integer">
			<minInclusive value="100"/>
		</restriction>
	</simpleType>
	<complexType name="dataValidatorType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="focus" use="required">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="tarmed"/>
							<enumeration value="cantonal"/>
							<enumeration value="lab"/>
							<enumeration value="unclassified"/>
							<enumeration value="drug"/>
							<enumeration value="migel"/>
							<enumeration value="physio"/>
							<enumeration value="other"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="version_software" type="invoice:versionType" use="required"/>
				<attribute name="version_db" type="invoice:versionType" use="required"/>
				<attribute name="id" default="0">
					<simpleType>
						<restriction base="integer">
							<minInclusive value="0"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<!-- sum_mod.xsd -->
	<complexType name="vatRateType">
		<attribute name="vat" type="double" use="required"/>
		<attribute name="vat_rate" use="required">
			<simpleType>
				<restriction base="double">
					<minInclusive value="1"/>
					<maxInclusive value="100"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="vatType">
		<sequence>
			<element name="vat_rate" type="invoice:vatRateType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="vat" type="double" use="required"/>
		<attribute name="vat_number" type="positiveInteger"/>
	</complexType>
	<complexType name="balanceType">
		<sequence minOccurs="0">
			<element name="vat" type="invoice:vatType"/>
		</sequence>
		<attribute name="currency" type="string" fixed="CHF"/>
		<attribute name="amount" type="double" use="required"/>
		<attribute name="amount_prepaid" default="0">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount_due" use="required">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount_tarmed" type="double" default="0"/>
		<attribute name="amount_cantonal" type="double" default="0"/>
		<attribute name="amount_unclassified" type="double" default="0"/>
		<attribute name="amount_lab" type="double" default="0"/>
		<attribute name="amount_migel" type="double" default="0"/>
		<attribute name="amount_physio" type="double" default="0"/>
		<attribute name="amount_drug" type="double" default="0"/>
	</complexType>
	<!-- ean_mod.xsd -->
	<simpleType name="eanPartyType">
		<restriction base="string">
			<pattern value="(20[0-9]{11}|76[0-9]{11})"/>
		</restriction>
	</simpleType>
	<simpleType name="xtendEanPartyType">
		<restriction base="string">
			<pattern value="(20[0-9]{11}|76[0-9]{11}|unknown)"/>
		</restriction>
	</simpleType>
	<simpleType name="zsrPartyType">
		<restriction base="string">
			<pattern value="([A-Z][0-9]{6})"/>
		</restriction>
	</simpleType>
	<!-- esr_mod.xsd -->
	<complexType name="esr5Type">
		<sequence>
			<element name="bank" type="invoice:bankAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="type" default="15">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="15plus"/>
					<enumeration value="15"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="participant_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{5}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="reference_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{5} [0-9]{5} [0-9]{5}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="coding_line" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="(&lt;[0-9]{2}0001[0-9]{9}&gt; [0-9]{15}\+ [0-9]{5}&gt;|[0-9]{15}\+ [0-9]{5}&gt;)"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="esr9Type">
		<sequence>
			<element name="bank" type="invoice:bankAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="type" default="16or27">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="16or27plus"/>
					<enumeration value="16or27"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="reference_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="([0-9] [0-9]{5} [0-9]{5} [0-9]{5}|[0-9]{2} [0-9]{5} [0-9]{5} [0-9]{5} [0-9]{5} [0-9]{5})"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="participant_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="01-[1-9][0-9]{0,5}-[0-9]"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="coding_line" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="(01[0-9]{11}&gt;[0-9]{16}\+ [0-9]{9}&gt;|042&gt;[0-9]{16}\+ [0-9]{9}&gt;|01[0-9]{11}&gt;[0-9]{27}\+ [0-9]{9}&gt;|042&gt;[0-9]{27}\+ [0-9]{9}&gt;)"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!-- tiers_mod.xsd -->
	<complexType name="garantType">
		<sequence>
			<element name="biller" type="invoice:billerAddressType"/>
			<element name="provider" type="invoice:providerAddressType"/>
			<element name="insurance" type="invoice:insuranceAddressType" minOccurs="0"/>
			<element name="patient" type="invoice:patientAddressType"/>
			<element name="guarantor" type="invoice:guarantorAddressType"/>
			<element name="referrer" type="invoice:referrerAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="payment_periode" type="duration" default="P30D"/>
	</complexType>
	<complexType name="payantType">
		<sequence>
			<element name="biller" type="invoice:billerAddressType"/>
			<element name="provider" type="invoice:providerAddressType"/>
			<element name="insurance" type="invoice:insuranceAddressType"/>
			<element name="patient" type="invoice:patientAddressType"/>
			<element name="guarantor" type="invoice:guarantorAddressType"/>
			<element name="referrer" type="invoice:referrerAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="invoice_modification" type="boolean" default="false"/>
	</complexType>
	<!-- lawmed_mod.xsd -->
	<complexType name="employerCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="employerPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="employerAddressType">
		<choice>
			<element name="ean_party" type="invoice:eanPartyType"/>
			<element name="company" type="invoice:employerCompanyType"/>
			<element name="person" type="invoice:employerPersonType"/>
			<element name="reg_number" type="invoice:stringType1_35"/>
		</choice>
	</complexType>
	<complexType name="kvgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="patient_id" type="invoice:stringType1_35"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="vvgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="patient_id" type="invoice:stringType1_35"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="uvgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="patient_id" type="invoice:stringType1_35"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
		<attribute name="case_date" type="dateTime" use="required"/>
		<attribute name="contract_number" type="invoice:stringType1_35"/>
		<attribute name="ssn">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{11}"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="ivgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="case_id" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="([0-9]{14}|[0-9]{10}|[0-9]{9}|[0-9]{6})"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="ssn" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{11}"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="mvgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="case_id" type="invoice:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="ssn">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{11}"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!-- service_record_mod.xsd -->
	<complexType name="recordTarmedType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="treatment" fixed="ambulatory">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="ambulatory"/>
							<enumeration value="semi_stationary"/>
							<enumeration value="stationary"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="tariff_type" type="string" fixed="001"/>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="ref_code" type="invoice:stringType1_20"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="ean_provider" type="invoice:eanPartyType" use="required"/>
				<attribute name="ean_responsible" type="invoice:eanPartyType" use="required"/>
				<attribute name="billing_role" default="both">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="mt"/>
							<enumeration value="tt"/>
							<enumeration value="both"/>
							<enumeration value="none"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="medical_role" default="self_employed">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="self_employed"/>
							<enumeration value="employee"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="body_location" default="none">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="none"/>
							<enumeration value="left"/>
							<enumeration value="right"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit.mt" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor.mt" use="required">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="scale_factor.mt" type="double" default="1.0"/>
				<attribute name="external_factor.mt" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount.mt" type="double" default="0.0"/>
				<attribute name="unit.tt" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor.tt" use="required">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="scale_factor.tt" type="double" default="1.0"/>
				<attribute name="external_factor.tt" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount.tt" type="double" default="0.0"/>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="recordCantonalType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" use="required">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="recordUnclassifiedType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" use="required">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="contract_name" type="invoice:stringType1_100"/>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="recordDrugType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" default="400">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="recordLabType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" default="316">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="recordMigelType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" default="452">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="recordPhysioType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" default="311">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="request" type="invoice:requestType"/>
	<complexType name="requestType">
		<sequence>
			<element name="header" type="invoice:headerType"/>
			<element name="prolog" type="invoice:prologType"/>
			<element name="invoice" type="invoice:invoiceType"/>
		</sequence>
		<attribute name="role" default="production">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="production"/>
					<enumeration value="test"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="invoiceType">
		<sequence>
			<element name="remark" type="invoice:stringType1_350" minOccurs="0"/>
			<element name="balance" type="invoice:balanceType"/>
			<choice>
				<element name="esr5" type="invoice:esr5Type"/>
				<element name="esr9" type="invoice:esr9Type"/>
			</choice>
			<choice>
				<element name="tiers_garant" type="invoice:garantType"/>
				<element name="tiers_payant" type="invoice:payantType"/>
			</choice>
			<element name="detail" type="invoice:detailType"/>
		</sequence>
		<attribute name="invoice_timestamp" type="unsignedLong" use="required"/>
		<attribute name="invoice_id" type="invoice:stringType1_35" use="required"/>
		<attribute name="invoice_date" type="dateTime" use="required"/>
		<attribute name="type" default="final">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="partial"/>
					<enumeration value="final"/>
					<enumeration value="supplementary"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="resend" type="boolean" default="false"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="billerCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="billerPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="billerAddressType">
		<choice minOccurs="0">
			<element name="company" type="invoice:billerCompanyType"/>
			<element name="person" type="invoice:billerPersonType"/>
		</choice>
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
		<attribute name="zsr" type="invoice:zsrPartyType"/>
		<attribute name="specialty" type="invoice:stringType1_350"/>
	</complexType>
	<complexType name="providerCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="providerPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="providerAddressType">
		<choice minOccurs="0">
			<element name="company" type="invoice:providerCompanyType"/>
			<element name="person" type="invoice:providerPersonType"/>
		</choice>
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
		<attribute name="zsr" type="invoice:zsrPartyType" use="required"/>
		<attribute name="specialty" type="invoice:stringType1_350"/>
	</complexType>
	<complexType name="insuranceAddressType">
		<choice minOccurs="0">
			<element name="company" type="invoice:companyType"/>
		</choice>
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
	</complexType>
	<complexType name="patientPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="patientAddressType">
		<sequence>
			<element name="person" type="invoice:patientPersonType"/>
		</sequence>
		<attribute name="gender" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="male"/>
					<enumeration value="female"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="birthdate" type="dateTime" use="required"/>
		<attribute name="unique_id" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="guarantorCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="guarantorPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="guarantorAddressType">
		<sequence>
			<choice>
				<element name="company" type="invoice:guarantorCompanyType"/>
				<element name="person" type="invoice:guarantorPersonType"/>
			</choice>
		</sequence>
		<attribute name="unique_id" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="referrerAddressType">
		<choice minOccurs="0">
			<element name="company" type="invoice:companyType" minOccurs="0"/>
			<element name="person" type="invoice:personType" minOccurs="0"/>
		</choice>
		<attribute name="ean_party" type="invoice:xtendEanPartyType" default="unknown"/>
		<attribute name="zsr" type="invoice:zsrPartyType"/>
	</complexType>
	<complexType name="bankCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="bankAddressType">
		<sequence>
			<element name="company" type="invoice:bankCompanyType"/>
		</sequence>
	</complexType>
	<complexType name="servicesType">
		<choice maxOccurs="unbounded">
			<element name="record_tarmed" type="invoice:recordTarmedType"/>
			<element name="record_cantonal" type="invoice:recordCantonalType"/>
			<element name="record_unclassified" type="invoice:recordUnclassifiedType"/>
			<element name="record_lab" type="invoice:recordLabType"/>
			<element name="record_migel" type="invoice:recordMigelType"/>
			<element name="record_physio" type="invoice:recordPhysioType"/>
			<element name="record_drug" type="invoice:recordDrugType"/>
		</choice>
	</complexType>
	<complexType name="detailType">
		<sequence>
			<element name="diagnosis" type="invoice:diagnosisType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="surgery" type="invoice:surgeryType" minOccurs="0" maxOccurs="unbounded"/>
			<choice>
				<element name="kvg" type="invoice:kvgLawType"/>
				<element name="vvg" type="invoice:vvgLawType"/>
				<element name="uvg" type="invoice:uvgLawType"/>
				<element name="ivg" type="invoice:ivgLawType"/>
				<element name="mvg" type="invoice:mvgLawType"/>
			</choice>
			<element name="services" type="invoice:servicesType"/>
		</sequence>
		<attribute name="date_begin" type="dateTime" use="required"/>
		<attribute name="date_end" type="dateTime" use="required"/>
		<attribute name="canton" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="AG"/>
					<enumeration value="AI"/>
					<enumeration value="AR"/>
					<enumeration value="BE"/>
					<enumeration value="BL"/>
					<enumeration value="BS"/>
					<enumeration value="FR"/>
					<enumeration value="GE"/>
					<enumeration value="GL"/>
					<enumeration value="GR"/>
					<enumeration value="JU"/>
					<enumeration value="LU"/>
					<enumeration value="NE"/>
					<enumeration value="NW"/>
					<enumeration value="OW"/>
					<enumeration value="SG"/>
					<enumeration value="SH"/>
					<enumeration value="SO"/>
					<enumeration value="SZ"/>
					<enumeration value="TI"/>
					<enumeration value="TG"/>
					<enumeration value="UR"/>
					<enumeration value="VD"/>
					<enumeration value="VS"/>
					<enumeration value="ZG"/>
					<enumeration value="ZH"/>
					<enumeration value="LI"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="diagnosisType">
		<simpleContent>
			<extension base="invoice:stringType0_350">
				<attribute name="code" type="invoice:stringType1_12"/>
				<attribute name="type" default="by_contract">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="ICD10"/>
							<enumeration value="cantonal"/>
							<enumeration value="by_contract"/>
							<enumeration value="freetext"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="subtype" type="invoice:stringType1_100"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="surgeryType">
		<simpleContent>
			<extension base="invoice:stringType0_350">
				<attribute name="code" type="invoice:stringType1_12"/>
				<attribute name="type" default="by_contract">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="CHOP"/>
							<enumeration value="cantonal"/>
							<enumeration value="by_contract"/>
							<enumeration value="freetext"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="subtype" type="invoice:stringType1_100"/>
			</extension>
		</simpleContent>
	</complexType>
</schema>
